[2015-11-22 12:01] HamedMP opened #4 "Can't import skflow or run tutorials"
Great effort by Google to simplify using TensorFlow.
I use command
    `pip install git+git://github.com/google/skflow.git`
to install it on my Mac OS 10.11 inside a VirtualEnv where the TF is also installed there, but I can't import the skflow
I checked V.Env python `site-packages` and the `skflow` folder is there.

Will be happy if I can test it, because I'm also eager to provide a wrapper for T

[2015-11-22 12:13] HamedMP commented on #4
I found out that when I import it from python in terminal, without being into any project it works. After some time I understand that I named the file also skflow.py and It tries to import itself and can't find the method `TensorFlowDNNClassifier` which cause the error.

[2015-11-22 12:13] #4 closed

[2015-11-23 12:00] ecoskian opened #5 "Add functionality to construct and train RNNs"
As per title, it would be great to have the ability to build and train RNNs easily with this library.

[2015-11-23 21:40] ilblackdragon opened #6 "Multi-output regression and classification"
There are number of problems that require multiple outputs (including RNNs).
Support needs to be added across all models and data feeders.

[2015-11-23 21:44] ilblackdragon opened #7 "Implement fit/predict to support iterators"
Many datasets can't fit into memory, and TF doesn't actually requires the whole dataset in the memory.
Instead of loading the dataset into memory, it's possible to stream it using iterators and feed data that way.

Fit/predict functions in Estimators should be able to take X and y as iterators and read from them while processing data.

[2015-11-25 04:13] ilblackdragon opened #9 "Add Neural Translation example"
Show an example of Neural Translation (Sequence to Sequence) model, which can showcase:
  * Work with text and embeddings
  * Streaming of inputs
  * Multi-dimensional outputs.

[2015-11-25 04:33] ilblackdragon opened #10 "Add DBpedia classification example"
DBPedia classification like in "[Character-level Convolutional Networks for Text Classification](http://arxiv.org/pdf/1509.01626v2.pdf)" is a good example to showcase:
 * Character level inputs
 * CNN for characters
 * show how much simpler than https://github.com/zhangxiangxiao/Crepe

[2015-11-25 16:06] s4sarath opened #11 "DB pedia text classification shows " TypeError: data type not understood""
All the passed Parameter shape is correct . i have cross validated that .

[2015-11-25 18:21] ilblackdragon commented on #11
Can you please show a stack trace?
And also which version of scikit learn do you have? It seems like older versions had the different semantics of array checking.

[2015-11-26 03:19] s4sarath commented on #11
Give me half an hour...

[2015-11-26 04:53] s4sarath commented on #11
TypeError                                 Traceback (most recent call last)
<ipython-input-10-27cd875193a5> in <module>()
----> 1 classifier.fit(X_train, y_array)

/Library/Python/2.7/site-packages/skflow/__init__.pyc in fit(self, X, y)
    111         """
    112         # Sets up data feeder.
--> 113         self._setup_data_feeder(X, y)
    114         if not self.continue_training or not self.

[2015-11-26 05:27] ilblackdragon commented on #11
It seems like the data type of X_train is not understood by check_array.
Can you print the type(X_train) and X_train.dtype? It supposes to be a 2-dimensional numpy matrix of dtype.float32.
And you are running the same code as in text_classification.py or modified - if yes, can you show what you modified?

[2015-11-26 05:31] s4sarath commented on #11
type(X_train) => numpy.ndarray
X_train.dtype => dtype('int64')

[2015-11-26 05:34] s4sarath commented on #11
@ilblackdragon  - I have converted X_train as you mentioned by , X_train.astype('float32') . But still the same error . It is 2d array of size (560000, 10) .

[2015-11-26 06:29] vnkmr7620 opened #12 "how to install scipy, scikit and skflow (using pip) with proper dependencies to python 2.7 and how to compile skflow examples using the bazel"
very good tutorial. I tried installing tensoflow using the pip and i successfully installed and i tried to run the rnn examples but that folder will not be installed when we use pip. So i got suggestion to install bazel to compile and build the rnn examples.Obviously i installed the python and numpy inorder to run the tensorflow examples and i am able to compile and run the rnn examples successful

[2015-11-26 06:50] s4sarath commented on #11
@ilblackdragon - I am running the same code as in text_classififcation.py . As I am new to tensorflow , I thought if starting from the examples you have provided .

[2015-11-26 07:11] ilblackdragon commented on #11
Ok, so I reproduced the issue with sklearn 0.16.1.
Quick fix for you to update your sklearn to 0.17. I'll in a meanwhile try to find what is the difference.

[2015-11-26 07:18] s4sarath commented on #11
Ok I will do that , now . Thanks .

[2015-11-26 07:28] s4sarath commented on #11
@ilblackdragon - Still no help . I ugraded scikit-learn to 0.17 . Still it is giving the same error .

[2015-11-27 07:18] ylhsieh commented on #11
I have encountered this problem, and upgrading to 0.17 did solve the problem. So, @s4sarath could you try to remove scikit-learn and re-install 0.17. Maybe there are multiple installations of scikit in your system and python is not picking up the latest version.

[2015-11-27 07:33] s4sarath commented on #11
I have uninstalled using pip and upgrade using pip . let me try once more .
On 27 Nov 2015 12:48, "ylhsieh" <notifications@github.com> wrote:

[2015-11-27 07:39] ylhsieh opened #13 "Custom model used logistic_classifier that is nonexistent"
In README, the custom model used `logistic_classifier`, but there is no such thing in the implementation.

[2015-11-27 08:05] s4sarath commented on #11
Hi guys . it is working after updating sklearn to 0.17 . if anyone updating
, please make sure that you have removed all the previous version from
site-packages .
On 27 Nov 2015 13:03, "sarath r nair" <s4sarath@gmail.com> wrote:

[2015-11-28 04:37] #11 closed

[2015-11-28 04:40] ilblackdragon commented on #11
Hey guy, just FYI - I've fixed this issue and also started running tests with sklearn 0.16 (will add it for CI as well). Thanks for raising it!

[2015-11-28 05:08] #13 closed

[2015-11-28 05:18] ilblackdragon commented on #12
You should be able to install the TensorFlow and skflow without bazel.

The easiest way, is something like this (on Linux machine):
[code]

And then clone the whole repository locally to run examples:
[code]

For Mac,  you need to change how you install `virtualenv` and change TensorFlow path to Mac specific one.

Let me know if you have issues with this.

[2015-11-28 05:18] #12 closed

[2015-11-28 06:02] s4sarath commented on #11
Good thing man . thanks .
On 28 Nov 2015 10:10, "Illia Polosukhin" <notifications@github.com> wrote:

[2015-12-04 10:46] mth4saurabh commented on #7
@ilblackdragon Hi, do you mean to implement something similar to `partial_fit` (in scikit-learn)?

[2015-12-05 07:40] ilblackdragon commented on #7
@mth4saurabh I just realized, I actually implemented partial_fit in the fit right now (see examples/text_classification.py it does partial fit in the loop with evaluation in between).

I think sklearn default interface is that fit() restarts the learning, but given that constructing new Estimator is so easy and partial fit is pretty much super important for DL, I think the way it works right will

[2015-12-07 15:52] jimcrozier opened #22 "Need to add cross_validation module to import in iris.py"

[2015-12-08 00:04] waferson commented on #22
you need add cross_validation import  in iris.py, saludos desde Colombia ;)

[2015-12-08 06:46] #22 closed

[2015-12-08 06:50] ilblackdragon opened #23 "Add Saver support"
Support Saver:
* Setting logdir for saving checkpoints.
* Restoring model if checkpoints already exist.
* Update examples like text_classification to use this.

[2015-12-10 16:52] jharaldson opened #27 "Error raised when importing skflow with tensorflow 0.6.0 installed"
Tensorflow 0.6.0 is not officially released, but importing skflow with tensorflow 0.6.0 installed raises an error.

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-1-cb8af396def9> in <module>()
----> 1 import skflow

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/

[2015-12-11 17:16] #27 closed

[2015-12-11 18:37] lukaszkaiser commented on #27
In 0.6 the function linear is in rnn_cell and you can call it from there.

[2015-12-11 18:39] ivallesp opened #28 "OSX Multi threading"
Is there any way of determining the number of cores in OSX? I think it calculates it automatically but in my case, I see in the system Monitor a Python process with a %CPU of 150% while other algorithms like XGBOOST mark over 300%. Could I set it manually?

Note that I'm executing the iris_custom_model algorithm with a larger dataset

Thank you

[2015-12-13 16:40] terrytangyuan commented on #28
Should be fixed by #31 so that you can pass a `num_cores` to set it manually.

[2015-12-13 18:22] ivallesp commented on #28
Ok, I'm going to try it. Thank you

[2015-12-13 22:30] #28 closed

[2015-12-14 21:24] ivallesp opened #37 "Model Persistence"
Is there any way of storing a model? I'm trying to pickle it with pickle and dill but it does not work...

Thank you

[2015-12-15 03:30] ilblackdragon commented on #37
@ivallesp yeah, just pickling doesn't work you need to use tf.Saver. I have #23 open exactly for that.

[2015-12-17 21:37] pakdaman opened #39 "missing import"
in your example for multioutput regression, it seems that you should add the following import command, so the code will work properly

import skflow.ops

MP

[2015-12-17 22:14] ilblackdragon commented on #39
Is it not running for you?
The ops should be imported by transitivity when `import skflow` is done.

[2015-12-18 02:03] pakdaman commented on #39
I believe you are right. The code is running fine when i call python in the
eclipse. But, when i use iphython it raises an error. When i added the
import then it is ok. It might be a problem with my ipython configuration,
though.
On Dec 17, 2015 5:21 PM, "Illia Polosukhin" <notifications@github.com>
wrote:

[2015-12-18 02:33] #39 closed

[2015-12-18 21:27] harsimranb commented on #23
I second this. This is a very important feature for us.

[2015-12-18 22:48] #23 closed

[2015-12-18 22:49] ilblackdragon commented on #37
Fixed in recent commit #afb324d - use `save` and `restore` operations, for example see main readme. I'll also add an example into examples folder.

[2015-12-18 22:49] #37 closed

[2015-12-18 22:50] ilblackdragon commented on #10
Done. The models in examples are a lot simpler and work on word and character level RNN and CNN.

[2015-12-18 22:50] #10 closed

[2015-12-19 00:25] harsimranb opened #40 "TensorFlowEstimator.restore error for text_classification.py example"
I am using the text_classification.py example.  I have added the following code to save and restore a model:

To save:
[code]

To restore:
[code]

On restore, I'm getting the following error:
[code]

Within the restore method, model_def looks like this:
[code]

[2015-12-19 01:37] #40 closed

[2015-12-19 01:57] harsimranb opened #41 "TensorFlowEstimator.restore Error: tensorflow.python.pywrap_tensorflow.StatusNotOK"
Restore is still not working for the text_classification.py example.  I am getting the following exception:

[code]

Related to #40

[2015-12-19 03:17] ilblackdragon commented on #41
Hm, it works in the case of just `text_classification.py` - I created an example in `text_classification_save_restore.py`.

Are you doing anything custom in the model that is different?

[2015-12-20 12:07] HiuNaoki opened #42 "GridSearchCV is not work in TensorFlowDNNClassifier"
Hello

I try  DNNMetaParameter optimization using GridSearchCV..

but not wok it

Statck Trace..

  File "/usr/local/lib/python2.7/site-packages/sklearn/grid_search.py", line 804, in fit
    return self._fit(X, y, ParameterGrid(self.param_grid))
  File "/usr/local/lib/python2.7/site-packages/sklearn/grid_search.py", line 553, in _fit
    for parameters in parameter_iterable
  File "/usr/local/lib/

[2015-12-20 12:24] HiuNaoki commented on #42
information

http://scikit-learn.org/stable/developers/contributing.html#parameters-and-init

[2015-12-20 16:49] ycyoon opened #43 "Error on TensorFlowEstimator.restore (tensorflow.python.pywrap_tensorflow.StatusNotOK: Internal: Unable to get element from the feed.)"
There's an error on restoring model when I executing a code below.

===================================

import skflow
from sklearn import datasets, metrics

iris = datasets.load_iris()
classifier = skflow.TensorFlowDNNClassifier(hidden_units=[10, 20, 10], n_classes=3)
classifier.fit(iris.data, iris.target)
classifier.save('test_model')
new_clf = skflow.TensorFlowEstimator.restore('test_model')
sc

[2015-12-20 18:35] ilblackdragon commented on #42
Ic, the problem currently is that `model_fn` is called in the `__init__` and that is where `hidden_state` variable is captured inside the closure. I didn't realize that meta optimizers use `set_params` for their operations. Some underlaying design needs to be altered for this to work corrently.

[2015-12-20 19:07] ilblackdragon commented on #43
Apparently Saver/get_latest_checkpoint doesn't work very well with relative paths: https://github.com/tensorflow/tensorflow/issues/571

For now I'm adding an absolute path override. Note, this may result that when you move folder, you need to change paths inside the checkpoint file (this is also true currently if you provide absolute path).

Hopefully we will fix it in TF to make model state not d

[2015-12-20 19:16] #43 closed

[2015-12-20 19:17] ilblackdragon commented on #41
I think it's the same issue as #43 - you were using relative path and TF doesn't work currently very well with that. I made a workaround by upping to absolute path when you call save/restore. Please try again and let me know if it doesn't work!

[2015-12-20 19:17] #41 closed

[2015-12-21 03:46] #42 closed

[2015-12-21 06:58] ycyoon opened #46 "skflow doesn't support Python3.X"
Both of scikit-learn and tensorflow support Python 3.X
It would be great if skflow supports Python 3.X.

[2015-12-21 08:38] HiuNaoki commented on #42
Thank you for your support！

[2015-12-21 17:34] harsimranb commented on #41
That was it, thanks!

[2015-12-22 11:44] boscotsang commented on #6
Do you mean output an m by n matrix which m is the number of samples and n is the output which is used as multi classes classifications or feed into the next layer?

[2015-12-22 16:08] mrry opened #47 "ImportError: cannot import name NotFittedError"
The [import](https://github.com/google/skflow/blob/5dbcc5afdb94675ab019ea08658c9a16b8db1162/skflow/estimators/base.py#L25) of `sklearn.utils.validation.NotFittedError` in `skflow/estimators/base.py` is no longer correct with the latest version if scikit-learn. In particular, [this commit](https://github.com/scikit-learn/scikit-learn/commit/e3afc0e8c9de522324a2f0cf0f7a17fee5147195) to scikit-learn

[2015-12-22 18:05] ilblackdragon commented on #47
I think we would want to support 0.16, 0.17 and latest. I'll make sure CI has all of them in coming days. Your contributions are welcome, I'll though send a quick fix for this one.

[2015-12-22 18:05] #47 closed

[2015-12-23 00:07] ilblackdragon commented on #6
This specific issue is for multi-output classification and multi-output regressions (vs multi class, where there can be multiple classes for the same output).
As of #e443c73 there is multi output regression support, but still need mutli output classification support (especially for cases like decoder in RNN for words/characters).

The multi class case also may need some work. If you are interested

[2015-12-23 00:08] ilblackdragon commented on #46
Definitely! Missed that tensorflow v0.6 now supports Python 3.X
Started a branch `python3` to add the support.

[2015-12-23 08:46] boscotsang opened #49 "python setup.py install broke other packages in os X"
When I run the `python setup.py install` the first time it went well but after I ran the python `setup.py installl` all the modules that skflow depends to were broken. The following is the detail information.

[code]

[2015-12-23 09:04] ilblackdragon commented on #49
It's weird that you are importing stuff from build/bdist.macosx-10.11-x86_64/egg/ .
Which folder are you running your python from? If you are in clonned folder you called setup.py install - try changing directory. Also try checking how your $PYTHONPATH looks like - it shouldn't have that directory in the list.

[2015-12-23 09:20] boscotsang commented on #49
I ran the python in any other folders the same error came. The following is the detail information about the $PYTHONPATH and the traceback when I ran the python in home directory.

[code]

[2015-12-23 09:58] boscotsang commented on #6
For multiclass classification we can infer the number of class from the number of unique labels. Then we can transform the label to one hot code representing the class. Therefore we don't need to specify the number for class so the output_shape can be specified by the shape of y. By this way the output of binary or multi regression and classification can be represented by a tensor that the first a

[2015-12-24 19:39] makseq opened #50 "DataFeeder: Sampling without replacement"
Hi,

1) I suspect there is a error in _feed_dict_fn.
Why don't you save used sample indices? They could be repeated when you call _feed_dict_fn() again in the same epoch.
sample = random.randint(0, self.X.shape[0] - 1)
inp[i, :] = self.X[sample, :]

2) It is not an epoch but only one step for one batch.
for step in xrange(steps):
          feed_dict = feed_dict_fn()
          global_step, loss, _

[2015-12-25 04:15] boscotsang commented on #50
Here are some opinions of mine. For the first question, I think in "sgd" each batch is random sampled so the _ffed_dict_fn() should be repeated called. I agree with you in the second question.

[2015-12-25 07:09] ilblackdragon commented on #50
In general, I agree that epochs should be used and non-repeated data, but right now it is indeed just trains specified a number of randomly sampled batches.

If somebody has time to implement a proper sampler for epochs (e.g. generate random indexes to sample into batches and then run over them) - I'll greatly appreciate the help! :)

[2015-12-25 07:49] ilblackdragon commented on #49
What about `sys.path`? I'm just not observing the same issue myself and this line `File "build/bdist.macosx-10.11-x86_64/egg/io/__init__.py", line 16, in <module>` seems like an issue where the skflow got installed.

I just did next commands:
[code]
and then tried `import numpy` in `python` and it works correctly.

[2015-12-26 15:23] vinhqdang opened #51 "How could I adapt the CNN model for 1 - dimension input datasets?"
Hi,

I have a dataset with 24 inputs and 1 categorical output, so I am trying to adapt the example https://github.com/google/skflow/blob/master/examples/text_classification_character_cnn.py to my case.

However, in the example, I saw

[code]

which I do not know how should I adapt to my code? Could you please help?

My data looks like:

[code]

[2015-12-26 17:56] ilblackdragon commented on #51
The easiest way to proceed is to start with simple `TensorFlowLinearClassifier` - then you don't need to do anything with your data - just pass your features as it is.

If you really want to apply convolutional networks (though in this case it doesn't seem very meaningful)  - you should just skip this conversion steps and do directly conv+pool and then logistic regression on top:
[code]

But I thi

[2015-12-26 17:56] #51 closed

[2015-12-26 18:07] vinhqdang commented on #51
Thanks a lot,

When I use LinearClassifier, I achieved the accuracy 35% (without any tuning, just follow the example at homepage).

With DNNClassifier I achieved the accuracy of 40%, and with CNN you suggested I can reached to 50%. So I think CNN should be good.

However, I hope that I can improve the accuracy a little bit more. For CNN, what tuning parameters I should try to modify to see the dif

[2015-12-26 18:51] ilblackdragon commented on #51
I should write more about tuning of the models, but here are few tips:
 - Increase number of steps to train - better, do how it's in the https://github.com/google/skflow/blob/master/examples/text_classification_character_cnn.py with loop of train/evaluate and save model state.
 - Try different learning rate - a lot of models are very sensitive to learning rate.
 - For DNN - try different number of

[2015-12-27 10:27] makseq commented on #50
I will have time to implement it if somebody adds me to contributors :) maybe it'll be a little help with my future migration to Google :))

[2015-12-28 07:37] ilblackdragon opened #52 "Support reading HDF5"
HDF5 is a popular format to store complicated datasets. It also supports different random seekings.
It would be awesome to have a full support for it.

[2015-12-28 07:39] ilblackdragon opened #53 "DataFeeder to read serialized numpy arrays"
Numpy arrays can be serialized to disk and it's possible to do random seeks into them.
Implementing a DataFeeder for such data format will remove requirement to have full dataset in the memory and still do random seeks for sampling of batches.

[2015-12-28 07:49] ilblackdragon commented on #50
@makseq Feel free as part of your PR add yourself to `CONTRIBUTORS` and `AUTHORS` files. I though personally like this page a lot - https://github.com/google/skflow/graphs/contributors

PS. Let me know if you are interested in referral to G :)

[2015-12-28 07:57] ilblackdragon opened #55 "Support categorical variables out-of-the-box"
Currently, if a dataset has categorical variables like gender or education - it requires additional processing to get it into one-hot form. Embeddings allow to use IDs to lookup distributed representations for categories. It should be easy to use and combine with regular features.

[2015-12-28 07:59] #46 closed

[2015-12-28 23:02] vinhqdang opened #57 "Class weight support"
Hi,

I am using ``skflow.ops.dnn`` to classify two - classes dataset (True and False). The percentage of True example is very small, so I have an imbalanced dataset.

It seems to me that one way to resolve the issue is to use [**weighted classes**](https://www.quora.com/How-can-you-train-convolutional-neural-networks-on-highly-unbalanced-datasets). However, when I look to the implementation of ``s

[2015-12-29 02:44] terrytangyuan commented on #53
FYI, I am working on this.

[2015-12-29 17:14] makseq commented on #50
Ok, thank you a lot. I will do it on holidays :)

[2015-12-29 17:47] ilblackdragon commented on #57
Usually, there are two ways to handle imbalanced data:
1) Oversample under-represented class.
  e.g. You can just copy each record by `false_rate/positive_rate`
2) Class weights
   This really just needs to be implemented in the loss function - if you are interested, you need to change `skflow.ops.losses_ops.softmax_classifier` to take a `loss_weight` tensor as argument and do something like this

[2015-12-29 20:22] vinhqdang opened #58 "Plotting neural network built by skflow"
Hi,

Sorry I asked too much.

I think plotting is always a nice feature. Is it possible right now for skflow (or can we do that through tensorflow directly)?

[2015-12-29 20:27] terrytangyuan commented on #58
We have just added this https://github.com/google/skflow#summaries
Is this what you want?

[2015-12-29 20:28] vinhqdang commented on #58
Wow, it's great.

[2015-12-29 23:44] ilblackdragon commented on #58
No worries about questions, they are always welcome! Some of them may be more suitable for chat here  - https://gitter.im/google/skflow

[2015-12-30 07:23] vinhqdang commented on #58
Hi,

Today I tried to add *logdir* parameter to ``fit`` function, and I have a ``.local`` file of 45MB.

However, when I opened TensorBoard, it reported that there is no image, graph, or anything else.

I train the model continuously

[code]

and press ``Ctrl - C`` to stop. Maybe it is a problem?

[2015-12-30 15:14] vinhqdang opened #60 "Please add an example of text classification CNN at word level"

[2015-12-30 18:41] ilblackdragon commented on #58
How are you running tensorboard?
It should be something like this: `tensorboard --logdir="logdir/my_model"`
And can you list the `logdir/my_model/<date>/` folder, it should have event files?

[2015-12-30 18:44] vinhqdang commented on #58
Hi, I ran ``tensorboard`` command already. In my case, it used the port ``6006``

Well, in the directory ``logdir/my_model/date``, there is only 1 file with extension ``.local``

[2015-12-30 18:49] ilblackdragon commented on #58
Something like this is correct: `logdir/my_model/2015-12-30_10-39-11/events.out.tfevents.1451500751.local`
What do you see in the tensorboard?
Do you see something like `2015-12-30_10-39-11` in the list of runs?
Also which classifier are you running?

[2015-12-30 18:51] vinhqdang commented on #58
Yeah, I saw the ``date`` in the list of runs, with four tabs: Events, Histogram, Graph, etc.

But when I clicked to each tab, it said that there is no Event with tags ...

I am following the example text_classifity with rnn of skflow

[2015-12-30 18:53] ilblackdragon commented on #58
Can you send me your .local file? (my username at gmail.com)

[2015-12-30 19:23] vinhqdang commented on #58
well, I ran it again and now I can view the graph. Maybe something wrong with previous run.

Thanks for your help

[2015-12-30 19:23] #58 closed

[2015-12-30 19:34] #60 closed

[2015-12-30 21:07] vinhqdang commented on #7
I think it would be great

I am working with CNN and RNN for text classification,

For instance, with CNN, when I increased EMBEDDING_SIZE value, I see the error ``Killed: 9`` when I run my program. Since I did not change anything else, it would be a consequence of increasing EMBEDDING_SIZE

Same, if I increase ``MAX_DOCUMENT_LENGTH`` to 5000 for instance, the problem appears ...

[2015-12-31 09:50] saj1919 opened #61 "Early stopping , epoch and unsupervised learning."
Hi, this is not an issue but wanted to get clear on some points or may be dumb questions.
I couldn't see parameters for early stopping and epoch (maybe missed it) But I saw steps. Is that equivalent to epoch or iterations.

Also, is unsupervised learning supported like in clustering , word2vec, self-taught type feature learning. Or there are future plans.

[2015-12-31 14:25] terrytangyuan commented on #61
@saj1919 FYI, I am working on a PR for early stopping. It's a nice feature to have.

[2016-01-01 04:25] #61 closed

[2016-01-01 18:57] #53 closed

[2016-01-01 18:58] ilblackdragon commented on #5
It's currently possible to train RNNs (see text_classification* examples), but it would be nice to have semi-generic `RNNClassifier` / `RNNRegressor`.

[2016-01-02 03:05] ilblackdragon opened #64 "Example of language model"
Add an example of language model (RNN). For example character level on sheikspear book (similar to https://github.com/sherjilozair/char-rnn-tensorflow).

[2016-01-05 13:44] vinhqdang opened #67 "Adding example of using LSTM for text classification"
Hi,

I think it would be good to provide examples and make the directory *examples* be a list of recipe to use skflow.

[2016-01-05 15:01] vinhqdang opened #68 "How to use Doc2Vec instead of default document preprocessing of skflow"
Hi,

In the [text classification example with RNN](https://github.com/google/skflow/blob/master/examples/text_classification.py), I think the document is represented by *bag-of-words* method.

I want to apply [*Doc2Vec* method](http://cs.stanford.edu/~quocle/paragraph_vector.pdf), then I have X_train.shape is (20000,500) and X_test shape is (5000,500) with the values are float.

Then I applied

[c

[2016-01-05 17:41] vinhqdang opened #69 "Error while using *early_stopping*"
Hello

Today I tried to use *early_stopping* feature (as [here](https://github.com/google/skflow/blob/master/examples/iris_early_stopping.py)), and I found that my current skflow cannot find the keyword ``early_stopping_rounds``.

I tried to reinstall skflow but it cannot upgrade because the version are the same (0.0.1). I have to first uninstall skflow then install it again.

So I think it would

[2016-01-05 17:47] terrytangyuan commented on #69
That's only minor addition so it doesn't make sense to make a new version out of it. You'll have to uninstall it first.

[2016-01-05 17:48] vinhqdang commented on #69
Well, I have a different idea, but anyway ...

Thanks for your comment

[2016-01-05 17:51] terrytangyuan commented on #69
Thanks for trying the new feature :-) We are developing fast so it's hard to do what you suggested. We'll do it soon though once the project is more stable.

[2016-01-05 17:52] vinhqdang commented on #69
Yeah, at least I think it is good to mention it somewhere for other users to know how to get the new features :-P

[2016-01-05 17:52] #69 closed

[2016-01-06 04:52] ilblackdragon commented on #67
Hi,

Hm, there is examples folder here - https://github.com/google/skflow/tree/master/examples with recipes on how to use skflow and it has LSTM for text classification on words and characters. Or you mean something else?

[2016-01-06 04:56] ilblackdragon commented on #68
In the example you are referencing, a document is represented as a bag of embeddings that are co-learned in the model.
This part is responsible for mapping from word IDs to embedding (Word2Vec if you will)
[code]

If you want to use Doc2Vec - you don't need LSTM (because you already mapped your document to an encoding). So you just need to do this:
[code]

or you don't even need custom model, you

[2016-01-06 06:32] vinhqdang commented on #67
Hi,

As http://colah.github.io/posts/2015-08-Understanding-LSTMs/, I would understand that LSTM is a special form of RNN

In the examples folder, I saw the example on RNN, but I am not sure if it is LSTM or not.

[2016-01-06 09:14] #68 closed

[2016-01-06 09:16] vinhqdang opened #71 "Training hidden_units of DNN with skflow"
Hello all

As I know, there are several ways to optimize DNN. I think the most important parameters for DNN should be ``hidden_units``.

Is it possible to somehow find best ``hidden_units`` automatically?

[2016-01-07 05:58] ilblackdragon commented on #67
The examples in the folder are using Gated Recurrent Unit. But if you want to try LSTM you can easily switch line `cell = rnn_cell.GRUCell(EMBEDDING_SIZE)` to `cell = rnn_cell.BasicLSTMCell(EMBEDDING_SIZE)` or `cell = rnn_cell.LSTMCell(EMBEDDING_SIZE)`.

You can see all RNN cells here - https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/rnn_cell.py

You can read about diffe

[2016-01-07 06:01] ilblackdragon commented on #71
You can try using GridSearch from sklearn. Otherwise - it's really just an experiments and trying to understand how it changes the quality of the model. There just basic rules of thumb (like start with the same number as original features and then go less and less: e.g. for 500 features you can use [500, 250, 100]). You also want to balance the number of examples you have versus a number of parame

[2016-01-07 13:16] vinhqdang commented on #67
Haha, thank you for giving this rule of thumb.

I have to confess that there a lot "rule of thumb" presented in discussion in quora or stackoverflow or researchgate to construct hidden layers in DNN, but let me check with your rule.

[2016-01-07 13:16] #67 closed

[2016-01-07 13:16] vinhqdang commented on #71
Haha, thank you for giving this rule of thumb.

I have to confess that there a lot "rule of thumb" presented in discussion in quora or stackoverflow or researchgate to construct hidden layers in DNN, but let me check with your rule.

[2016-01-07 13:19] vinhqdang commented on #71
I think GridSearch in sklearn is similar with h2o.grid in [h2o deep learning](h2o.ai).

However, the idea is you need to present all the possible ``hidden_units``. We can list 1 000 000 000 different hidden_units and let the computer run, but I am not sure if it is a smart way. (For me it is just a brute force approach - maybe I am wrong)

[2016-01-07 13:24] melvinj opened #72 "Error while running text_classification*"
Hi,

I'm trying to run the text_classification examples and I get the following error.

TypeError: Input 'values' of 'HistogramSummary' Op has type int64 that does not match expected type of float32.

The stack trace is below:

Traceback (most recent call last):
  File "text_classification.py", line 82, in <module>
    classifier.fit(X_train, y_train, logdir='/tmp/tf_examples/word_rnn')
  File "/u

[2016-01-07 14:19] vinhqdang commented on #67
Hi, I think for ``LSTMCell`` we will need at least 1 more argument, I think ``EMBEDDING_SIZE`` is ``input_size`` parameter of ``LSTMCell``, then the parameter ``num_units`` is missing

[2016-01-07 19:37] ilblackdragon commented on #72
Hi,

Weirdly I don't get this error, but I've updated histogram addition only for float.
Please try with the current master if it now works for you. Let me know if it works now.

[2016-01-07 19:39] ilblackdragon commented on #71
There are other hyperparameter optimizers that actually take into account the values and accuracy of the model to pick next values (we use something like this in Google).
For example of Open Source library you can try - http://hyperopt.github.io/hyperopt/

[2016-01-08 05:23] melvinj commented on #72
Hi,
It works now. Thanks for the very prompt response.

[2016-01-08 06:27] #72 closed

[2016-01-08 17:24] #9 closed

[2016-01-12 03:24] ilblackdragon commented on #71
Hope this helped! I'm closing this bug for now.

[2016-01-12 03:24] #71 closed

[2016-01-14 04:39] ilblackdragon opened #79 "Turn off dropout at predict time"
Currently, dropout is still applied at test time, which leads to incorrect results.

The proposed solution is to gather all dropout probability nodes and feed dict the probability 0 when run predict.

[2016-01-15 06:19] #79 closed

[2016-01-17 04:54] terrytangyuan opened #83 "Input 'Values' of HistogramSummary Op Type Mismatch"
Reproducible example: (master branch with update for dask stuff)
[code]
gives:
[code]

Not sure exactly what happened but I tried to add more supported types in https://github.com/tensorflow/skflow/blob/master/skflow/estimators/base.py#L119
-- still getting this error.

Anything I missed?

[2016-01-17 15:11] terrytangyuan commented on #49
Closing this due to inactive status. Feel free to reopen it if you encounter the problem again.

[2016-01-17 15:11] #49 closed

[2016-01-17 15:24] terrytangyuan commented on #83
So type of y is inferred to be int from dask.dataframes, could this cause the problem? I don't see anything wrong from API doc for tf.histogram_summary though.

[2016-01-17 23:36] cwharland opened #84 "TensorFlowLinearRegressor unable to recover weights?"
I'm hoping that I just overlooked something but I can't seem recover the correct weights for simple linear test cases using `TensorFlowLinearRegressor`. [Here's a gist](https://gist.github.com/cwharland/66dcb10b7d7605a96413) of the full test file (with `pytest`) and matching test case using scikit-learn `LinearRegression`. As the comment in the gist says, the scikit module recovers the weights fai

[2016-01-18 12:05] #83 closed

[2016-01-19 06:02] ilblackdragon commented on #84
Hi,

I just took a quick look.
If you set `batch_size` to 1 and increase number of steps, it actually passes:
[code]

I'll look into more, why with the bigger batch size it doesn't converge properly.

Thanks for reporting.

[2016-01-19 07:00] cwharland commented on #84
Ahh good catch. In my tensorflow backed quick mash up I had implicitly set batch size to 1 by making the `fit()` method run the session for each data point. So yeah there's something going on with batch gradient descent. If I find anything else that helps even out the discrepancy I'll post back.

[2016-01-19 13:51] untom opened #85 "Add support for validation sets"
It would be nice if skflow had some support for validation sets to be used for early stopping and monitor validation set loss during training. This could be realized failry easily by adding a `fraction_validationset` to the TensorFlowEstimator. Within `fit`, the given training set could then be split into two parts.

[2016-01-20 10:39] pomodorochris opened #87 "simple linear classification example results in AttributeError in pandas_io.py"
I just installed Scikit Flow and tried to execute the simple linear classification example. Unfortunately this does not work:
[code]

I'm using Python 3.4, Tensorflow 0.6, Sckit-Learn 0.17 and Pandas 0.16.2

[2016-01-20 13:25] terrytangyuan commented on #87
Could you point out which example you are trying? The versions look correct to me and I just tried one of the examples involving pandas. Also, what's the name of the python script you are executing? Sometimes bad file name or existing `pd` variable in the environment could cause this problem. Try using IPython to run it from scratch.

[2016-01-20 13:41] pomodorochris commented on #87
I'm running
[code]
with IPython and I get
[code]

I don't think there's a anything wrong with the code. Maybe the issue is related to pands? If I run `multioutput_regression.py` I get the same error in `pandas_io.py` as above.

[2016-01-20 13:49] terrytangyuan commented on #87
Thanks. Could you try reinstall pandas then? The pandas version is the same as the one I am using though.

[2016-01-20 13:49] terrytangyuan commented on #87
Thanks. Could you try reinstall pandas then? The pandas version is the same as the one I am using though.

[2016-01-20 13:51] terrytangyuan commented on #87
Thanks. Could you try reinstall pandas then? The pandas version is the same as the one I am using though. Googled around it seems like this happens a lot. Try some solutions from Google results.

[2016-01-20 14:25] pomodorochris commented on #87
Thanks, after I reinstalled pandas it worked.

[2016-01-20 14:25] #87 closed

[2016-01-21 03:57] #84 closed

[2016-01-21 03:58] ilblackdragon commented on #84
So, there was the wrong shape for labels in the loss computation and it was broadcasting, creating a square matrix from diff. Fixed with commit above. Please let me know if it look good now!

[2016-01-21 06:10] terrytangyuan commented on #5
@ecoskian Just added this functionality.
See https://github.com/tensorflow/skflow/blob/master/examples/text_classification_builtin_rnn_model.py
You can also change the `cell_type` to what you need, e.g. rnn, gru, and lstm.

[2016-01-21 06:10] #5 closed

[2016-01-21 06:15] terrytangyuan commented on #67
@vinhqdang  See https://github.com/tensorflow/skflow/issues/5. You can just change `cell_type` to lstm.

[2016-01-22 05:32] ilblackdragon commented on #50
Solved by @makseq in #b14b86c Thanks!

[2016-01-22 05:32] #50 closed

[2016-01-24 01:49] ilblackdragon commented on #85
The validation set support is a good idea. One concern I have is to how to fit with sklearn interface when a user wants to pass his specific validation set. Because usually you split your dataset 3 ways - train, validation and test and use validation for hyperparameter search.

[2016-01-29 20:13] michael4john commented on #7
I think the problem I encountered has something to do with the topic discussed here. If it is inappropriate for me to comment/post here, please direct me to somewhere else.

I was trying to run the text_classification.py file, but with my own data. But I got the following error message from the stdin:

I tensorflow/core/common_runtime/local_device.cc:40] Local device intra op parallelism threads:

[2016-01-30 03:24] ilblackdragon commented on #7
Hi,

This error indeed is connected to dataset, but not this issue specifically.

The "*tensorflow.python.framework.errors.InvalidArgumentError: Index 4306
at offset 90 in Tindices is out of range" *means
that there is an index in the data that is outside of range of number of
embeddings you've allocated.

Given that number of words is 4306 it's quiet strange, but I would
recommend to add +1 in
ht

[2016-01-31 06:07] olegarch opened #88 "Loss scores are different for contiguous run of fit() for 200 steps and 4 runs of fit() for 50 steps"
I am doing regression with DNN.

Final MSE for contiguous run of 200 steps: 1.45781016655
Final MSE for 4 runs with 50 steps each: 1.44524233948

Score for contiguous run:
Step #1, epoch #1, avg. loss: 27.95941
Step #21, epoch #21, avg. loss: 5.64051
Step #41, epoch #41, avg. loss: 1.78990
Step #61, epoch #61, avg. loss: 1.53639
Step #81, epoch #81, avg. loss: 1.49865
Step #101, epoch #101, avg. l

[2016-01-31 06:54] ilblackdragon commented on #88
There is one reason why this can be happening - every time `fit` restarts, the new re-sampling happens inside `data_feeder` and different order of data is seen by the model.

I'll look into it more tomorrow, to check that this is indeed the only reason.

Otherwise, a better comparison would be to let it train until convergence (e.g. loss doesn't go down anymore) for both cases and it should result

[2016-02-02 07:24] lopuhin commented on #57
I think this is already implemented here https://github.com/tensorflow/skflow/blob/master/skflow/models.py#L57 and here https://github.com/tensorflow/skflow/blob/master/skflow/ops/losses_ops.py#L52

[2016-02-02 07:25] vinhqdang commented on #57
Thanks @lopuhin , so what is the correct way to use it? (in a case of unbalanced dataset, 90% of class A and 10% of class B)?

[2016-02-02 07:39] lopuhin commented on #57
@vinhqdang sorry, I was wrong - I don't think that existing implementation is correct, because ``cross_entropy_with_logits`` already returns losses for each example in a mini-batch. For now you can try to over-sample class B in training data.

[2016-02-02 07:45] lopuhin commented on #57
And I am not sure if is is possible to implement it in terms of existing tensorflow loss functions? It seems one will need to defined a loss function similar to ``softmax_cross_entropy_with_logits`` from scratch.

[2016-02-02 08:01] lopuhin commented on #57
Ah, no, it should be possible - we just need to multiply ``xent`` with weights that depend on labels in labels minibatch. Sorry for the noise :)

[2016-02-02 08:23] ilblackdragon commented on #57
@lopuhin It's possible, and as you mentioned https://github.com/tensorflow/skflow/blob/master/skflow/ops/losses_ops.py#L52 partially implements this bug (it does multiple xent for each class by weight of the class). The only missing piece is passing it from estimator (e.g. TFLinearClassifier(..., class_weights={1: 0.9, 0: 0.1}) to the models and losses. I didn't think about a good interface to do

[2016-02-02 08:32] ilblackdragon commented on #57
What's currently there can be used by creating an explicit TF constant and initializing it with your weights:

[code]

[2016-02-02 08:36] lopuhin commented on #57
Thats what I thought @ilblackdragon , but for me it fails with ``tensorflow.python.framework.errors.InvalidArgumentError: Incompatible shapes: [32] vs. [2]`` here https://github.com/tensorflow/skflow/blob/master/skflow/ops/losses_ops.py#L53 because xent is a tensor of shape [32], which is the number of examples in a minibatch. Maybe I'm using it wrong though.

[2016-02-02 19:41] ilblackdragon commented on #57
@lopuhin, You are right, `softmax_cross_entropy_with_logits` returns just `[batch_size]` of values... So it's already too late to add class weights. I'll take a look how to bypass that.

[2016-02-03 03:48] ilblackdragon commented on #57
Ok, so instead, I moved it up to multiple logits.
I think it still works with math, just need to try out on a some imbalanced dataset and then add initialization from a constructor. @lopuhin Let me know what do you think.

[2016-02-03 08:14] lopuhin commented on #57
@ilblackdragon for me a more natural solution would be something like this https://github.com/lopuhin/skflow/commit/5c978498d24472bac44235964b6ab528ca952918 - here I apply weight to xent of each label depending of what labels it is. I think this is different mathematically from scaling logits. But I am still learning, so take this with a grin of salt please :)

[2016-02-03 15:08] makseq commented on #85
I made it as delegate validation function passing through fit(..., cross_valid_fn=my_func()).
my_func(): return calc_rmse(test_data)
It's very useful because user can adjust his my_func() as he wants.

[2016-02-04 23:27] mikowals opened #90 "Feedback on tutorial 3 - titanic embarked embedding"
Thanks for the tutorial.  It was very easy to follow.  Like many might do, I tested my new knowledge by playing with the other categorical variables but this led to a difficult to understand stack trace.

To reproduce, just replace "Embarked" with "Pclass" in the lines where `X` and `embarked_classes" get assigned.  When trying to fit the model this will throw index out of range errors.

I eventua

[2016-02-05 07:34] ilblackdragon commented on #90
You are right, `nan` is considered as another class.
The correct way to do it would be actual to use `cat_processor` to get the full count - `len(cat_processor.vocabularies_[0])` in the vocabulary.

I'll correct the post, thanks for commenting here about this!

[2016-02-05 07:34] #90 closed

[2016-02-07 07:22] quispiam opened #92 "Default random seed is 42 rather than defaulting to a random random seed"
Hi,

I've been working through some of the tutorials and they often use `random.seed()` at the beginning. I tried playing with this value to see how it effected the output of a DNN and it doesn't change anything.

A little digging found that by default `tf_random_seed` in `dnn.py` is 42 and it must be specified when `TensorFlowDNNClassifier()` in created if you want anything other than 42.

I foun

[2016-02-07 17:42] ilblackdragon opened #93 "Multi-threaded feed dict"
Currently, feed dicts are working in the same thread as main training thread, which slows down the training loop by the time it takes to process and sample record.

A better option would be to run sampling in the thread and feed into Queue and then main thread will just take full batches out of the queue.

As a performance test, would be interesting to get a match between speed of `sklearn.linear_

[2016-02-07 17:52] ilblackdragon commented on #92
The reason why it's done this way is due to Tensorflow's random seed actually is not using `random.seed`. So you need to set `tf.random_seed` to actually have reproducible behaviour. And you need to call `tf.random_seed` only when a graph is created (e.g. reason why it needs to be called inside `TensorFlowEstimator`).

Now, you are right that `random.seed(42)` in the beginning of examples is not n

[2016-02-07 18:20] ilblackdragon commented on #55
This is done and tutorial written.

[2016-02-07 18:20] #55 closed

[2016-02-07 18:20] ilblackdragon commented on #7
Closing this and the iterator processing is implemented. Neural translation example is a demo of that.

[2016-02-07 18:20] #7 closed

[2016-02-07 22:29] ilblackdragon commented on #6
This is actually works. Multioutput regressions are implemented. Multiclass classification works. Multioutput (multiclass) classification works as well - see example language modelling / neural translation.

[2016-02-07 22:29] #6 closed

[2016-02-08 22:02] Kiminaka opened #94 "An error following TensorFlow Tutorial — Part 3"
Hi, I love the idea of skflow and am trying to learn it :)
When I was running the exactly same code on the blog (https://medium.com/@ilblackdragon/tensorflow-tutorial-part-3-c5fc0662bc08#.jsxv1w8n9) in my local, I got the error below. I thought that the class variables would need to be float instead of integer and tried that but it didn't solve. Could someone help?

[code]

[2016-02-08 22:24] michael4john opened #95 "Get probabilities for ALL the classes"
I'm looking at the text_classification.py.

`classifier.predict(X-test)` gets the class number with the highest probability. But I wonder how to get  the probabilities for all the classes per input.

Thanks in advance!

[2016-02-08 22:37] terrytangyuan commented on #95
You can use `predict_proba` instead of `predict` to get class
probabilities.

Thanks.

On Mon, Feb 8, 2016 at 4:33 PM, michael4john <notifications@github.com>
wrote:

[2016-02-08 23:36] michael4john commented on #95
Thanks for the prompt response, @terrytangyuan . predict_proba does work, but it returns me 15 probabilities, which I think has something to do with the n_classes argument of the TensorFlowEstimator function. I changed it to 5 because I only have 5 categories to predict, but the following error message is returned:

  File "search_classification.py", line 88, in <module>
    classifier.fit(X_train

[2016-02-09 00:50] ilblackdragon commented on #94
Hi @Kiminaka is there by any chance you have an old version of skflow?
Currently, [this code](https://github.com/tensorflow/skflow/blob/master/skflow/estimators/base.py#L120) doesn't add histograms anymore for int64s. You may just need to run `pip uninstall skflow && pip install skflow`.

We are gonna roll out an official 0.1 version on PyPI soon so it will be easier to install / uninstall and tra

[2016-02-09 00:52] ilblackdragon commented on #95
@michael4john If you are only have 5 classes then this errors indicates that you are using 1-based identification for them. You should make sure your classes are all indexes from 0 to n_classes - 1.

Note, you can always use some of `skflow.preprocessing.CategoricalProcessor` functionality to remap output classes into 0 to 4.

[2016-02-09 02:11] Kiminaka commented on #94
Hi Illia, yes I had the older version and it worked after upgrading it :) Thanks!

[2016-02-09 02:11] #94 closed

[2016-02-09 03:13] michael4john commented on #95
@ilblackdragon I reindexed my dataset from 0 to 4. And it works! Thank you so much!

[2016-02-09 04:57] #95 closed

[2016-02-09 20:55] ilblackdragon commented on #64
Added a simple character language model in #74

[2016-02-11 04:01] dansbecker commented on #85
I was going to take a look at this (though I'm still learning my way around skflow).

I see an early_stopping_rounds argument in the estimators (TensorFlowEstimator and its derived classes), and the argument is passed to the TensorFlowTrainer, which appears to implement early stopping logic.

Is the current early stopping logic different from what's suggested in this issue?  I'll pursue this issue

[2016-02-11 05:01] terrytangyuan opened #97 "Add Example of Using Spark with skflow to Easily Scale"
This sparkit-learn package recently came out that utilizes Spark to scale scikit-learn and aid GridSearch.
https://github.com/lensacom/sparkit-learn

Since skflow has a sklearn-like interface, it might be a good idea to show an example of using sparkit-learn to scale skflow with minor changes.

Blogpost can be found here: https://databricks.com/blog/2016/02/08/auto-scaling-scikit-learn-with-spark.

[2016-02-11 06:05] ilblackdragon commented on #85
@dansbecker Thanks for taking a look! Right now early stopping is done on training loss - e.g. if training converged, model stops before a number of required steps.

On the other hand, using validation set is another option. But so far, in examples we were implementing it this way: https://github.com/tensorflow/skflow/blob/master/examples/resnet.py#L148
So one way I was thinking this issue can be

[2016-02-11 07:59] metjush opened #98 "'module' object has no attribute 'rnn_cell'"
I'm trying the tutorial on Medium (https://medium.com/@ilblackdragon/tensorflow-tutorial-part-2-9ffe47049c92#.608vwpu2a) and the first DNN have raised this error:

[code]

Is this a problem with my tensorflow installation? Or is there something different amiss?
I have an up-to-date installation of TF, this is what happens when I run `pip install tensorflow --upgrade`:
[code]

This is my Python set

[2016-02-11 18:48] dansbecker commented on #85
Thanks @ilblackdragon. That makes sense.

On the issue of using the same data for early stopping and for hyperparameter search: Three options come to mind.

1. Let the user pass in two sets of data to the fit method. One set for training the network, the second (which @untom calls validation in this issue) for determining when to stop training. As I think you mentioned, this raises the question of

[2016-02-11 19:04] dansbecker commented on #85
@ilblackdragon :Those three above are in addition to the one you mentioned
`skflow.train(estimator, X_train, y_train, X_valid, y_valid, metric?)`

My inclination is towards either your suggestion, or 2 or 3 in the note above.

[2016-02-11 23:38] ilblackdragon commented on #98
Which version of tensorflow do you have? This seems like an issue with using 0.5 version.

You can try updating tensorflow by doing this:
[code]

[2016-02-12 09:01] pcrease commented on #98
I just had the same issue as @metjush, and discovered I had version 0.5.0 of TensorFlow. After upgrading to 0.6.0 the example above then ran as expected, so this solved the problem. :-)

[2016-02-12 09:08] metjush commented on #98
Thanks both. I updated tensorflow to 0.6.0.
It now raises a different error:

[code]

It is trying to load `numpy` from a different python distribution, not anaconda (even though I run it with the `python` command from anaconda). I can't seem to make it load the right one.

[2016-02-12 10:00] olegarch opened #100 "Droupout probabilities are trainable"
Shouldn't it be like this?

prob = tf.get_variable("prob", [],
                                   initializer=tf.constant_initializer(prob), **trainable=False**)

[2016-02-12 10:53] olegarch opened #101 "Adding variable to summaries changes training results"
I've added prob value from dropout as scalar summary to confirm that it is trainable and its value is changing from step to step.
                prob = tf.get_variable("prob", [],
                                       initializer=tf.constant_initializer(prob),
                                       trainable=True)
                tf.scalar_summary(prob.op.name, prob)
Just adding it to summaries

[2016-02-13 16:16] terrytangyuan commented on #98
@metjush  See this for potential solution: http://stackoverflow.com/questions/20518632/importerror-numpy-core-multiarray-failed-to-import

Should be able to load correctly if numpy version is correct.  Thanks.

[2016-02-13 16:16] #98 closed

[2016-02-13 16:23] terrytangyuan commented on #92
@ilblackdragon I just removed them from example code so other people won't get confused. :-)

[2016-02-13 16:23] #92 closed

[2016-02-13 20:56] terrytangyuan opened #102 "Additional Early Stopping Scheme"
Currently skflow only supports early stopping scheme that's used mostly frequently by Kagglers, specific code can be found here: https://github.com/tensorflow/skflow/blob/master/skflow/monitors.py#L92

It would also be good allow other schemes such as watching changes in moving averages, etc, since sometimes the current scheme may not be very effective. @ilblackdragon may have more thoughts on thi

[2016-02-13 21:02] terrytangyuan opened #103 "Documentation Page"
This way users won't have to navigate into the code.

Help is welcomed.

[2016-02-13 22:33] ilblackdragon commented on #100
That's a very good point.
I'll fix it now.

[2016-02-13 22:35] #100 closed

[2016-02-13 22:39] ilblackdragon commented on #101
That is quite strange, a summary is just a way to pull out a value when you are running the graph. It is not generating backpropagation or anything to update the variables.

Let me run an experiment to see what's going on.

[2016-02-14 05:22] ilblackdragon commented on #101
Apparently adding summary changes something in random number generator order and produces different initalization values for variables. This explains why when you add a scalar - it results in slihtly different results, you may want to try to train for longer in your case to stabilize. (the bug with dropout probability fixed, thanks for reporting!).

Here is minimal code reproduce (I'll post it to

[2016-02-14 05:49] #57 closed

[2016-02-14 05:55] ilblackdragon commented on #57
@lopuhin Change importance in cross-entropy is to adjust relative importance of all the classes to each other (skewing distribution) when in your option it will only adjusting the weight of one class. But your option may work in practice. I'll double check with few people what is the best way.

[2016-02-14 15:36] evanmiltenburg commented on #64
Any chance of an RNN/LSTM example for labeling tasks as well? (E.g. [sentiment analysis](http://www.cs.cornell.edu/~oirsoy/files/emnlp14drnt.pdf) or [NER](http://www.aclweb.org/anthology/W03-0426))

[2016-02-14 21:12] ilblackdragon commented on #64
Hi Emiel, the sentiment analysis can be done from text_classification
examples (sentiment is just a two or five class document classification).
NER is more like language model structure. We should add some concrete
examples though with datasets though over time.
On Feb 14, 2016 7:36 AM, "Emiel van Miltenburg" <notifications@github.com>
wrote:

[2016-02-14 21:14] evanmiltenburg commented on #64
Cool, thanks!

[2016-02-16 18:03] olegarch commented on #88
After run for 50 steps I was executing session to get test set results and that was changing random generator state in dropout operation. Dropout is still exercised for non-training step with probability 1. So subsequent training was slightly different from contiguous run. If I don't execute session to get test results or remove dropout layer - training results for contiguous and non-contiguous ru

[2016-02-17 02:38] ilblackdragon commented on #88
Yeah, one option is to try to remove dropout at all in the non-training case (e.g. a `tf.cond(is_training, dropout(x, prob), x)`). Do you feel this difference is a big deal or after enough iterations it converges to the same results?

[2016-02-17 02:40] olegarch commented on #88
It's not a big deal. Convergence is similar in both cases.

[2016-02-18 19:52] denson opened #106 "Unit test test_nonlinear.py generates error"
I get the following error when I run  test_nonlinear.py

[](https://raw.githubusercontent.com/tensorflow/skflow/master/skflow/tests/test_nonlinear.py)

.E.
======================================================================
ERROR: testRNN (__main__.NonLinearTest)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/Volumes/experiment

[2016-02-19 16:38] terrytangyuan opened #107 "Miscellaneous GPU Enhancements"
Questions collected from SO tagged with skflow:

- [x] Limit GPU memory allocation:
http://stackoverflow.com/questions/35483367/limit-gpu-memory-allocation-in-skflow/35485392#35485392

- [ ] Specify which GPU to use:
http://stackoverflow.com/questions/35504528/skflow-allocates-memory-in-gpu0-even-when-other-gpu-is-specified

- [ ] More GPU options are hidden in [here](https://github.com/tensorflow

[2016-02-19 23:25] ilblackdragon commented on #106
Interface of rnn op changed - instead of returning list of states it returns last state only now.
I'll fix it later today.

[2016-02-21 12:07] nirizr commented on #52
+1

[2016-02-21 12:09] ffmpbgrnn commented on #52
Supporting HDF5 would be great!

[2016-02-23 15:59] eldor4do commented on #64
Hi, not a related comment, but how do I go about doing multi label image classification using skflow? Do I do something similar to the multioutput code?

[2016-02-23 21:48] ohadzad opened #110 "neural_translation_word.py in examples is incomplete"
variable word_list is not defined as well as xpred, ypred and ygold in main loop.

[2016-02-24 18:26] #85 closed

[2016-02-25 06:05] newterminator opened #112 "Text Classification Examples Giving Error"
I downloaded both the [Text Classification Using Recurrent Neural Networks on Words](https://github.com/tensorflow/skflow/blob/master/examples/text_classification.py) example and the [Simplified Version Using Built-in RNN Model with easy to use built-in parameters](https://github.com/tensorflow/skflow/blob/master/examples/text_classification_builtin_rnn_model.py) example, and tried running both to

[2016-02-25 11:04] eldor4do opened #113 "How do I do multilabel image classification?"
Do I have to make changes in the multioutput file?
I ideally want to train any model, like Inception, on my training data which has multi labels.
How do I do that?

[2016-02-25 18:10] #110 closed

[2016-02-25 20:11] ohadzad commented on #110
thanks.

[2016-02-26 09:27] ChihChengYang opened #116 "An AttributeError while running iris_save_restore.py"
** Traceback (most recent call last):
  File "iris_save_restore.py", line 26, in <module>
    new_classifier = skflow.TensorFlowEstimator.restore('/tmp/skflow_examples/iris_custom_model')
  File "/usr/lib/python3.4/site-packages/skflow/estimators/base.py", line 463, in restore
    estimator._restore(path)
  File "/usr/lib/python3.4/site-packages/skflow/estimators/base.py", line 401, in _restore

[2016-02-26 12:25] terrytangyuan commented on #116
Yes please try the latest version. It's fixed in https://github.com/tensorflow/skflow/pull/108

[2016-02-26 12:43] ChihChengYang commented on #116
Ok, Thank you...

[2016-02-26 12:43] #116 closed

[2016-02-26 16:47] souravsingh commented on #103
I would like to help in this

[2016-02-26 16:56] terrytangyuan commented on #103
@souravsingh You are very welcomed to do it!

[2016-02-26 21:24] raingo opened #117 "batch normalization implementation is wrong"
The running mean and variance are tensors, which can't be saved in snapshots. In the testing time, the batch mean and variance are randomly initialized.

[2016-02-27 04:09] ohadzad opened #118 "neural_translation_word.py in examples failed after a few iterations."
When adding words to vocabulary, They being added with a number as mapping.
when calling:
[code]

all words with a frequency of under min_frequency are being trimmed.
but - their mapping are still the same as the previous ids.
meaning some words will have a mapping bigger than the length of the vocabulary.

in this line:
`out.itemset(tuple([i, idx, value]), 1.0)`

it tries to put a value bigger th

[2016-02-27 04:10] raingo commented on #117
I just figured this out by myself. It's not wrong, but lack of clear documentation.

I believe the current implementation is fine, but have to take special care with how to construct the saver.

If saver is constructed by `saver = tf.Saver(tf.all_variables())`, there is no problem at all.

If the saver is constructed by `saver = tf.Saver(tf.trainable_variables())`, there is a problem with not savi

[2016-02-27 04:11] ohadzad commented on #118
[log.txt](https://github.com/tensorflow/skflow/files/149200/log.txt)

[2016-02-29 00:27] ilblackdragon opened #120 "Version check for tensorflow"
We are removing support of older tensorflow versions (as their API is changing) so we should have a nice user-friendly message asking people to update their Tensorflow if they installed a new version of skflow with older tensorflow.

Maybe just check on the import in `__init__.py`

[2016-02-29 00:46] #118 closed

[2016-02-29 00:50] ilblackdragon commented on #113
You need to provide multiple targets, e.g. your `y` will be `[n_samples, n_classes, 2]` where for each class it's either on or off. You also may need to adjust the loss function - currently `softmax_classifier` doesn't support such shape of `y`. You may be able to use though  `sequence_classifier` for this.

[2016-02-29 00:51] ilblackdragon commented on #112
The #119 PR is addressing this - the changes in 0.7.1 changed the `rnn` API in a bit (IMO) weird way.

[2016-02-29 00:52] ilblackdragon commented on #112
Should be fixed after merge, please let me know!

[2016-02-29 00:52] #112 closed

[2016-02-29 00:52] ilblackdragon commented on #106
Should be fixed with #119 merge.

[2016-02-29 00:52] #106 closed

[2016-02-29 00:55] ilblackdragon commented on #117
Why would you want to save only trainable variables? Also estimator.save already should be taking care of saving - why do you need your own saver?

[2016-02-29 00:55] ilblackdragon commented on #101
Seems that this WAI, so I'm closing this issue.

[2016-02-29 00:55] #101 closed

[2016-02-29 00:56] ilblackdragon commented on #88
Closing as WAI.

[2016-02-29 00:56] #88 closed

[2016-02-29 01:31] raingo commented on #117
The reason to save only the trainable variables is to save disk space. For CNN, the shadow variables in the optimizer triple the checkpoint size. It is also seen in many tensorflow examples.

[2016-02-29 02:04] ilblackdragon commented on #117
Disk space is dirt cheap these days...
But then you should just filter the Adam/* or Adagrad/* variables when saving from all_variables, instead of trying to collect all others - because your code above is missing a lot of other things (like global_step, any random projections or random embeddings used in some models, etc).

I'm closing this issue then - if you are interested - feel free to add a

[2016-02-29 02:04] #117 closed

[2016-02-29 08:20] nyaong7 opened #121 "NotImplementedError: Negative indices are currently unsupported"
Dear,

I am testing with neural_translation_word.py in python3.
I downloaded the dataset as mentioned in the script and tried to run it.
It gives me the following log
--------------------------------------------------------------------------------------------------------
1400000 lines read from data/train.data
Fitting dictionary for French...
Transforming...
Total words, en: 41521, fr: 53858
Trace

[2016-02-29 09:04] HiuNaoki opened #122 "Support loading pre-trained model parts"
i want to using autoencoder for pre-training in skflow....

please help me..

[2016-02-29 20:50] davidBelanger commented on #113
I'd treat it as a bunch of binary logistic regression problems with shared features. Basically, predict a logit for every target class, and then use a cross entropy loss. Between your predicted vector of per-label predictions and the target vector. The target vector should be a vector in [0,1]^L, where it is 1 in the coordinates corresponding to positive labels. This is inefficient space-wise to s

[2016-03-01 06:06] newterminator commented on #112
@ilblackdragon , I confirm it is fixed now. Thanks !

[2016-03-02 18:11] pomodorochris opened #124 "equivalent implementation of net from keras"
I'm trying to port a simple DNN that I wrote in Keras as follows
[code]

My skflow version looks like this:
[code]

My DNN has four outputs and I am using the same data in both implementations. However, the results are still very different and I'm wondering why. Are the two implementations equivalent in their topology? What could have gone wrong?

[2016-03-02 22:36] ilblackdragon commented on #124
Hey,

I'm not super familiar with Keras, but here are few questions:
1) Seems like you added an additional layer with 40 units before 100+10+20 in skflow?
2) You should specify the same optimizer with `optimizer='Adagrad'` as parameter to `skflow.TensorFlowEstimator`. Right now you seems to be using SGD.
3) What is loss function in the Keras? skflow for regression (n_classes=0) uses mean squared e

[2016-03-02 22:44] ilblackdragon commented on #113
Did you manage to make it work? Would be cool, if you can PR an example.

[2016-03-03 06:16] pomodorochris commented on #124
Thanks a lot! You spotted the problem in question 1, where I incorrectly added the number of units in my input layer to hidden_units.

[2016-03-03 06:16] #124 closed

[2016-03-05 21:00] #120 closed

[2016-03-05 22:30] viksit commented on #47
A simple pip install and running the neural_translation.py example gives me the same error. Thoughts?

[2016-03-05 22:32] terrytangyuan commented on #47
Try this `pip install git+git://github.com/tensorflow/skflow.git`. It should tell you to update some dependencies.

[2016-03-05 23:30] terrytangyuan commented on #47
@ilblackdragon @mrry I suggest we create a `compat.py` file to deal with compatibility. We put a bunch of `try catch` and then import `NotFittedError` via `from compat import NotFittedError`. What do you think?

[2016-03-06 04:06] terrytangyuan opened #128 "Better Practices for Compatibility"
See #47. We need to deal with different versions of sklearn, etc in a better way.
cc: @mrry @ilblackdragon

Let me know if anyone wants to work on this.

[2016-03-08 03:28] kwangjun14 opened #129 "when run multiple_gpu.py, I got this error"
---------------------------------------------------------------------------
InvalidArgumentError                      Traceback (most recent call last)
<ipython-input-3-c76def1ea9cd> in <module>()
     19
     20 classifier = skflow.TensorFlowEstimator(model_fn=my_model, n_classes=3)
---> 21 classifier.fit(X_train, y_train)
     22 score = metrics.accuracy_score(y_test, classifier.predict(X_test))

[2016-03-08 10:52] prasanna513 opened #130 "Text classification - How to save VocabularyProcessor after fit?"
To later run the saved model on test data, I need to save the VocabularyProcessor after I fit with the training data. How do I save it? Thanks, Prasanna

[2016-03-08 16:48] mheilman commented on #102
It looks like the validation monitor checks performance on the validation data after every minibatch currently.  This seems very inefficient if one's validation set is much larger than a minibatch.  Am I missing something?  If not, it'd be nice to have a keyword argument for how frequently to check validation set performance (e.g., so that it could be checked every 100 minibatches or so).

(This s

[2016-03-08 19:27] mheilman opened #131 "minimum loss is always set to training loss"
The code in `BaseMonitor.update` currently sets the minimum loss so far as follows ([link](https://github.com/tensorflow/skflow/blob/master/skflow/monitors.py#L77)):

[code]

I believe the 2nd line there should be `self.min_loss = self.last_loss_seen` since the validation monitor sets that [here](https://github.com/tensorflow/skflow/blob/master/skflow/monitors.py#L158).

[2016-03-08 20:08] #131 closed

[2016-03-08 20:10] terrytangyuan commented on #131
@mheilman Thanks for spotting that out! I just pushed the necessary change. You are welcome to submit PR directly to fix issues you found in the future once you signed CLA!

[2016-03-08 20:14] terrytangyuan commented on #129
Does [this example](https://github.com/tensorflow/skflow/blob/master/examples/iris_custom_model.py) work for you? Could you also check whether you have those devices on your computer?

[2016-03-08 20:24] mheilman commented on #131
You're welcome.  Thanks for the quick fix.  If I happen find anything else in the future, I'll submit a PR (once the CLA stuff is sorted out).

[2016-03-09 00:09] yuchenhou opened #133 "another ValidationMonitor with validation(+early stopping) per epoch"
From what I understand, the existing ValidationMonitor performs validation every [print_steps] steps, and checks for stop condition every [early_stopping_rounds] steps. I'd like to add another ValidationMonitor that performs validation once and checks for stoping condition once every epoch. Is this the recommended practice in machine learning regarding validation and early stopping? I mean I'd lik

[2016-03-09 01:53] terrytangyuan commented on #130
You can dump it to JSON file. @ilblackdragon Do you think it's worth making those serializable or implementing serializer method?

[2016-03-09 02:52] #128 closed

[2016-03-09 06:25] yuchenhou commented on #133
@dansbecker I also noticed the inefficiency mentioned in #102 by @mheilman. I think the inefficiency problem is in this loop: https://github.com/tensorflow/skflow/blob/master/skflow/trainer.py#L113
Calling monitor.update() in the loop is too expensive and too fine-grained for most practical applications.

Can we consider moving the monitor.update() to https://github.com/tensorflow/skflow/blob/mast

[2016-03-09 06:37] StevenLOL opened #134 "Fail to run the example with 2GB GTX960"
Hi,

Recently installed tensorflow 0.7.1 and skflow 0.1.0    , on UBUNTU 15.10 , CUDA 7.5, cuDNN 4 , Nvidia 352.39

sklearn 0.17.1
numpy 1.8.2
scipy  0.14.1
python 2.7.10

Fail to run the following code:

[code]

and log:
[code]

Same error occurred even with reduced training data size:

[code]

[2016-03-09 07:54] StevenLOL commented on #134
PS: Tensorflow is OK, I have no problem running tensorflow example.

[2016-03-09 10:06] prasanna513 commented on #130
Save and restore methods on this too will be helpful I think. Thanks for the quick reply.

[2016-03-09 10:43] imissedaplane opened #135 "saved model returns different prediction results"
I'm new to skflow, so this might be me being stupid; I've trained a RNN using the example data, and saved it using `classifier.save(model_path)`.

I also dumped out the prediction results using: `pandas.DataFrame(classifier.predict(X_test)).to_csv`

This all works fine and I have an accuracy of roughly 80%

Next I load in the existing model using classifier = `skflow.TensorFlowEstimator.restore(mo

[2016-03-09 14:44] mheilman commented on #134
I had this problem as well on an EC2 GPU instance (which have pretty old K520 cards).  I'm not sure why it happens, but a (rather inelegant) fix that worked for me is to set the `config_addon` argument to, e.g.,  `ConfigAddon(gpu_memory_fraction=0.9)` when initializing your estimator.  This keeps TF from trying to reserve all the GPU memory.

[2016-03-09 16:16] borisRa opened #136 "Hands-one assistance in Embedding and logisitic regression over aggregated data"
Hi,

I need assistance in three issues :

1. How to I apply the embedding only on the categorical features  (I have also continuous  )?

2. How do address the following issue with Skflow : [http://stackoverflow.com/questions/33871615/train-a-model-with-probability-response-or-number-of-successes-failures-rather]

3. How do I add the probability estimation for a success in the logistic output ?

Th

[2016-03-09 18:03] ilblackdragon commented on #136
1. Currently it's not very convenient - I'm working on API making it better.
To do it - you need to pass everything as continuous matrix and then split it.
e.g.
[code]
This way Xcat can be passed into `categorical_variable` and then combined with continues features.

Stay tuned for a better way to do it!

2. @terrytangyuan responded on stackoverflow.

3. Do you mean how to get probability out of t

[2016-03-09 18:05] ilblackdragon commented on #130
You can just pickle the object. I'll add save and restore methods though.

[2016-03-09 18:06] ilblackdragon commented on #135
You should save `vocab_processor` with model as well. I'm going to add explicit save/restore methods per #130 but you can just pickle it and unpickle when running at inference time.

[2016-03-09 18:09] ilblackdragon commented on #122
Currently it's not very simple at all.
The easiest way, would be to dump numpy arrays from the pre-trained model (using `get_tensor_value` method on estimator) and then use `initializer` for your variables in your target model.

I'll make it easier, but sklearn doesn't have anything remote to API for this, so will need to think carefully to have something that would be useable in years to come.

[2016-03-09 18:11] ilblackdragon commented on #133
Actually may be a better option is to have monitor in a separate thread and just push some information into it from time to time from main thread.

[2016-03-09 18:28] #130 closed

[2016-03-09 19:54] ilblackdragon opened #137 "Switch to use MetaGraphDef for save/restore"

[2016-03-09 21:16] borisRa commented on #136
Thanks for the quick response !

1.  About the first one : how to combine (column bind for tf object) Xcat & Xcont back to X.
To apply the deep learning models on X?

2. I meant how to input aggregated data into the logistic regression.Instead of '1' for success and '0' for failure. input the Y attribute total number of success and failures per aggregation level. For now there is no such support i

[2016-03-09 22:16] evahlis opened #138 "How can one control the number of epochs?"
In this example:
https://github.com/tensorflow/skflow/blob/35e12d74537ffbf7a27a2136337b1c52c922ae96/examples/boston.py

The number of training steps is set to 5000. The documentation of DNN Regressor states that "steps" specifies the number of steps to run over data. Does that mean that the above example uses 5000 training epochs?

More generally, what is the intended way to control number of epoc

[2016-03-10 05:45] viveksembium opened #139 "L2 Regularization"
Is there an easy way to enable L2 Regularization to the skflow DNN classifier? Or is L2 enabled by default?

[2016-03-10 09:15] imissedaplane commented on #135
pickle works well - thanks for the response.

[2016-03-10 09:16] #135 closed

[2016-03-10 11:47] evahlis commented on #138
Reading through the code, the steps argument seems to set the number of mini-batches to train on. So if there are n samples and the batch size is b then number of epochs will be s*b/n

[2016-03-10 11:47] #138 closed

[2016-03-10 15:36] mheilman opened #140 "should text transformers return arrays?"
The text transformations [currently return generators](https://github.com/tensorflow/skflow/blob/7a7bbcc8b47f54384a43494ac78083de9e3915e4/skflow/preprocessing/text.py#L181), but the sklearn [doc page for the TransformerMixin](http://scikit-learn.org/stable/modules/generated/sklearn.base.TransformerMixin.html) say transformers should return arrays.

Also, the skflow text classification example that

[2016-03-10 17:26] mheilman opened #141 "specifying sequence lengths"
Currently, it's not very clear how to use the sequence length functionality in `TensorFlowRNNClassifier` ([link](https://github.com/tensorflow/skflow/blob/f933c9956ee54dab78cae9ff83b11c2d09eebd8a/skflow/estimators/rnn.py#L40)).  This currently takes a tensor as an argument, since the argument is eventually passed along to `tensorflow.nn.rnn`, which expects an integer tensor.  However, it's not cle

[2016-03-10 17:30] mheilman commented on #141
[Here](https://github.com/mheilman/skflow/commit/71a31557a00af6e390a327fa405bcfe148eb3f98) is what I was thinking with respect to the sequence length argument being a function.

[2016-03-10 17:38] mheilman opened #142 "zero indicates end-of-sequence and unknown symbol in VocabularyProcessor"
Currently, in the VocabularyProcessor for text input, zero is used both [as a padding symbol](https://github.com/tensorflow/skflow/blob/f933c9956ee54dab78cae9ff83b11c2d09eebd8a/skflow/preprocessing/text.py#L176) and also [as the unknown word symbol](https://github.com/tensorflow/skflow/blob/f933c9956ee54dab78cae9ff83b11c2d09eebd8a/skflow/preprocessing/categorical_vocabulary.py#L32).

This seems pr

[2016-03-11 00:53] ilblackdragon commented on #142
You are right. I'll update to 1 (I would prefer to have unknown token stable between different datasets etc - in case of special handling).

Note: code right now in the move to tensorflow.contrib.skflow - so I'll update already there.

[2016-03-11 00:57] ilblackdragon commented on #140
It's made because you can have very big dataset that [you don't want to have in memory](https://github.com/tensorflow/skflow/blob/7a7bbcc8b47f54384a43494ac78083de9e3915e4/examples/neural_translation_word.py#L110).

`VocabularyProcessor` should be usable with `Pipeline` if you use one of skflow estimators. If it doesn't - we can fix that (I didn't actually try, let me know if you face an issue with

[2016-03-11 00:59] ilblackdragon commented on #139
L2 regularization for learnable variables? Right now the easiest way would be to use custom model and add regularizer (from tensorflow) things - you can also add an option to TensorFlowDNN* estimator as a PR.

[2016-03-11 01:04] #134 closed

[2016-03-11 02:55] kengz opened #144 "Error while loading saved model"
Saved a model successfully, but on reloading it `skflow.TensorFlowEstimator.restore(<the saved path>)` threw an error. Currently running the latest installation of six 1.10.0, pandas 0.17.1, tensorflow 0.7.1, skflow 0.1.0, python 3.5 on Mac OSX.

[code]

[2016-03-11 03:07] mheilman commented on #140
Yeah, I definitely understand the value of not loading up everything into memory.  I wish scikit-learn had better support for out-of-core learning.

Anyway, I modified [this example](https://github.com/tensorflow/skflow/blob/c780f0f669137a324657284e18d1a95e94c39f27/examples/text_classification_builtin_rnn_model.py) to have it directly pass in the output of `VocabularyProcessor` to `TensorFlowRNNCl

[2016-03-11 15:45] kengz opened #145 "Cannot load"
Running the example `digits.py` gives the error

[code]

Once monitor is removed it works normally again. Is monitor packaged with skflow? I'm running skflow v0.1.0

[2016-03-11 16:02] terrytangyuan commented on #145
Can you try installing from Github?

[2016-03-11 16:05] terrytangyuan commented on #144
Try install the updated version from Github.

[2016-03-11 16:44] kengz commented on #145
Just uninstalled and reinstalled from Github, `monitor` can now be imported, but then it throws another error:

[code]

I've seen somewhere on stackoverflow that python3 doesn't use `cPickle`, but `pickle` instead? How can this be resolved?

[2016-03-11 16:46] kengz commented on #144
Found a bug fix (inelegant) on StackOverflow: http://stackoverflow.com/questions/35789666/tensorflow-with-skflow-attributeerror-module-object-has-no-attribute-saver

The version installed from Github throws the error:
[code]

[2016-03-11 16:49] #144 closed

[2016-03-11 16:49] terrytangyuan commented on #145
Try again. Should be fixed by #143.

[2016-03-11 16:49] #145 closed

[2016-03-11 16:50] terrytangyuan commented on #144
Try again. Should be fixed by #143.

[2016-03-11 16:51] kengz commented on #145
Problem solved. Thank you.

[2016-03-11 16:53] kengz commented on #144
Solved.

[2016-03-12 04:13] vnkmr7620 opened #146 "Tensorflow GPU version support with skflow"
I have been trying to execute text_classification.py example of skflow but it is generating an error. Please see the attached document for an error as well as the version of tensorflow and the skflow.  Th error is     **tensorflow.python.framework.errors.InvalidArgumentError: Cannot assign a device to node 'train/update_words/words_embeddings/Assign_1': Could not satisfy explicit device specificat

[2016-03-12 18:22] victoyip opened #147 "Getting probability from DNNclassifier"
In addition to getting the predicted label, I would like to access the probability associated with each prediction. Can I do that with this classifier?

[2016-03-12 23:55] terrytangyuan commented on #146
You need to update your tensorflow.

[2016-03-12 23:56] terrytangyuan commented on #147
Use pred_proba instead of predict.

[2016-03-14 03:00] eli7 opened #148 "Off by one bug in Neural language translation example"
This line: https://github.com/tensorflow/skflow/blob/master/examples/neural_translation_word.py#L156
Is:
`idx = random.randint(0, len(X_test))`

From reading the help for randint, I think it should be:
`idx = random.randint(0, len(X_test) - 1)`

Also I got unlucky and got an index out of range exception :)

[2016-03-14 06:45] syx114 opened #149 "Can't restore my model"
when i use TensorFlowEstimator.restore(...) , it shows "name 'TensorFlowEstimator' is not defined"
and skflow.TensorFlowEstimator.restore(...) shows " 'module' object has no attribute 'saver_pb2' "

[2016-03-14 21:26] eli7 opened #150 "Neural Translation Model example is not really learning French"
I trained it for several hours with a big GPU (12GB) and all it could do on the test set was get at most the first word sort of right and then repeat some seemingly random word until the end of the sentence for instance (made up examples, but hopefully you get the idea):

Mr President advised the council to (...)

Translates to:
Monsieur rement rement rement rement rement rement rement

and

He th

[2016-03-15 09:54] victoyip commented on #147
It said DNNClassifer has no such attribute?

`AttributeError: 'TensorFlowDNNClassifier' object has no attribute 'pred_proba'`

[2016-03-15 11:08] terrytangyuan commented on #147
Sorry it should be predict_proba.

[2016-03-15 22:24] ilblackdragon commented on #149
Can you also give stack trace? And version of tensorflow?

[2016-03-17 14:44] #148 closed

[2016-03-23 20:45] kootenpv opened #151 "Small suggestion for default value of keep_checkpoint_every_n_hours"
I was not understanding the default value of 10000 (it's not obvious if I was misunderstanding it, or if it is just never going to do it)

https://github.com/tensorflow/skflow/blob/master/skflow/estimators/dnn.py#L57

I would suggest default value of 0 which means never.

[2016-03-23 21:00] terrytangyuan commented on #151
Well, 10000 is 416.67 days - nobody's going to do that so it's the same as "never". We followed this default value from TensorFlow. Maybe there's some internal stuff going on there so 0 might mean something different, e.g. trying to save it just once. Have to check in TensorFlow internally though.

[2016-03-25 14:56] kootenpv commented on #151
Ah my bad, didn't know tensorflow came up with that default. I guess it's good to stick to their default. That said, I do believe it is a confusing default. `None` or `0` would be clearer in my opinion. Or something more ridiculous like `10000000`. But that's for tensorflow :-)

[2016-03-25 14:56] #151 closed

[2016-03-25 15:04] terrytangyuan commented on #151
No problem. FYI, we recently moved skflow to TF [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/skflow).

[2016-03-27 15:05] kengz opened #153 "update trained model"
currently calling
[code]
resets the classifier and train it on training set 2. Is there a way to "resume training"?

Example use case would be getting the next batch of training data next, or do on-line training, e.g. incoming new labeled data while the model is deployed.

[2016-03-27 17:35] terrytangyuan commented on #153
There's a `continue_training` parameter you can use. Take a look at some examples, in particular [this] (https://github.com/tensorflow/skflow/blob/master/examples/text_classification.py) one.

[2016-03-27 17:52] kengz commented on #153
exactly what I'm looking for. Thanks!

[2016-03-27 17:52] #153 closed

[2016-03-27 17:55] #147 closed

[2016-03-27 17:56] #146 closed

[2016-03-27 22:00] michael4john opened #154 "TypeError: List of Tensors when single Tensor expected"
Running text_classification.py and text_classification_character_rnn.py, which I just downloaded, on shell both returned me the following error:

Below is the snippet:
![typeerror](https://cloud.githubusercontent.com/assets/16963717/14068025/621ead16-f444-11e5-80e0-945bd6cbedc9.PNG)

The weird thing is running text_classification that I downloaded several months ago did NOT return me this kind of

[2016-03-28 01:42] kengz opened #155 "installation script for OpenBLAS"
Skflow makes it much easier and faster to get into ML. There's some blas libraries specified in the `.travis.yml`.

Would it be possible also to automatically download, build, install and link OpenBLAS (or any relevant ones) through a shell script that comes with skflow? This would allow many users to run more performant and efficient operations too.

[2016-03-28 16:06] savkov opened #156 "Exception when running language model example"
Hi,

Thanks for making this tool. It will definitely make things easier for NN newcomers.

I just tried running your [language model example](https://github.com/tensorflow/skflow/blob/master/examples/language_model.py) and got the following exception:

[code]
I made sure that my python distribution has the correct version of `six`. I tried running it both in a virtual environment and in a normal P

[2016-03-28 18:40] kaneplusplus commented on #150
+1

[2016-03-29 09:50] GameOfThrow commented on #154
can you specify the version of your TensorFlow package?

[2016-03-29 13:01] michael4john commented on #154
I should have included this in the above. Below is the version info:

Tensorflow: 0.6.0
Python: 2.7.6
Numpy: 1.10.4

[2016-03-29 13:44] terrytangyuan commented on #154
Try most updated version of tensorflow and skflow

[2016-03-29 14:55] GameOfThrow commented on #154
yes, it's just a matter of getting the latest package, update Tensorflow and skflow should work fine.

[2016-03-29 16:37] ReaBx opened #157 "fit_transform on test set in DNN Regression example boston.py"
In the [DNN Regression example](https://github.com/tensorflow/skflow/blob/35e12d74537ffbf7a27a2136337b1c52c922ae96/examples/boston.py), when scoring the prediction on the test set, should the scaling not be done only with `scaler.transform(X_test)` instead of `scaler.fit_transform(X_test)`?
I'm completely new to both sklearn and skflow and am just trying to understand this example. I understand wh

[2016-03-29 17:17] JSSotola commented on #157
I would say there is no right answer here. Scaling is just a linear transformation. You can scale your X in any way you want. If `transform()`works better here then go for it. In my experience `fit_transform()` usually works better, but it depends on the dataset.

[2016-03-29 17:32] ReaBx commented on #157
Hm, but don't I have to scale X_test the same way I scaled X_train?
I mean taking this example of house prices in Boston, when I look at the test set, don't I want to set it in relation to the training set? Why would I transform the test set to zero mean? What if by chance I have mostly larger houses in the test set?
Thanks!

[2016-03-29 17:35] terrytangyuan commented on #157
It depends highly on your application. There's also batch normalization that you can look into and may suit your particular needs.

[2016-03-29 17:35] #157 closed

[2016-03-30 01:27] ilblackdragon commented on #157
Fit transform on evaluation data is very subtle issue. If you do it, you
indeed will get a better results. But it also will hide if you validation
sample is different from your training. At inference time you don't have a
sample wide mean/STD deviation which means you will use one from training
data. And if you picked your model based on evaluation results that are
skewed by scaling on it's own me

[2016-03-30 01:32] ilblackdragon commented on #155
Installation of OpenBLAS is very system specific. Skflow relies on one
having scipy installed, which in turn requires some version of BLAS
installed.

The easiest way for all this to be installed in system independent way is
Docker. Skflow recently moved into main tensorflow codebase, so it will be
available in next version of tensorflow dockers. I'll try to have Docker
that have all the dependenc

[2016-03-30 01:54] kengz commented on #155
I see. The TF Docker approach is prolly the most convenient, especially if it can come already optimized. I currently have bash setup scripts for 2 OSes (MacOSX and Ubuntu Trusty) for my project which also uses skflow.

The Ubuntu version has the blas libraries listed in the skflow installation script; the MacOSX does not yet have it installed and setup. I'm looking at OpenBLAS for it, not sure if

[2016-04-02 15:55] kengz opened #158 "faster data cleaning"
Can we have 2 functions commonly used for data cleaning: `fillna()` and `LabelEncoder()`, but implement a Multi-column version for each that works directly on the entire data frame `X` rather than column-by-column.

`MultiFillna(X, str_val='NA', num_val=0)` would perform column-wise `fillna()` on X using the stated/default values, 'NA' for string columns and 0 for numerical columns. This is especi

[2016-04-03 09:33] vinayakumarr opened #159 "input must be a list error in skflow lstm"
import random
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.utils import check_array
from sklearn.cross_validation import train_test_split
from scipy.cluster.vq import whiten

import tensorflow as tf

import skflow

print("program started to execute")

train_data = pd.read_csv("cla/train.csv")
clas

[2016-04-04 17:51] nhilliard commented on #159
You're passing in a Panda DataFrame whereas the fit(...) function is expecting a python list.

You can get a list of all of your rows in the CSV (a list of lists) by doing
`train_data.values.tolist()`, `class_values.values.tolist()`, `test_data.values.tolist()`

[2016-04-05 00:28] lixiaosi33 opened #160 "using a pre-train word embeddings in text_classification_cnn"
word_vectors = skflow.ops.categorical_variable(X, n_classes=n_words,
    embedding_size=EMBEDDING_SIZE, name='words')
word_vectors = tf.expand_dims(word_vectors, 3)

when i debug this patch of code, i can't explain how it works.

How to use the results of Word2vec or a GloVe pre-trained word embedding instead of a random one?

[2016-04-05 08:09] GameOfThrow commented on #156
could be a tensorflow/skflow version issue, can you specify the version/check for updates?

[2016-04-05 11:29] vinayakumarr opened #161 "negative indices are currently unsupported in rnn example"
![untitled](https://cloud.githubusercontent.com/assets/18217467/14280300/a3724fae-fb4f-11e5-9b1d-8d7f6b7bde55.png)

import random
import numpy as np
from sklearn import datasets
from sklearn.metrics import accuracy_score, mean_squared_error

import tensorflow as tf

import skflow

random.seed(42)
data = np.array(list([[2, 1, 2, 2, 3],
                              [2, 2, 3, 4, 5],

[2016-04-05 12:10] mouradmourafiq opened #162 "Verbose is not considered during the training."
I think [default_monitor](https://github.com/tensorflow/skflow/blob/master/skflow/monitors.py#L28) should at least preserve the verbosity set on the estimator.

[2016-04-05 20:14] mmarklar commented on #156
I'm also getting the same exception on Tensorflow 0.7.1 and Skflow 0.1.0

Also tried with nightly of TF using the contrib.skflow, same result. Let me know if anything else would be useful.

[2016-04-06 14:25] suiyuan2009 opened #164 "need more models in skflow.models"
path: https://github.com/tensorflow/skflow/blob/master/skflow/models.py

I think svr or svm can be added to models.py

[2016-04-07 03:18] #103 closed

[2016-04-07 03:20] terrytangyuan commented on #154
This should be just version issue. Closing now but feel free to re-submit the issue on TensorFlow repo.

[2016-04-07 03:20] #154 closed

[2016-04-07 03:20] terrytangyuan commented on #129
Closing now due to inactive status but feel free to re-submit the issue on TensorFlow repo.

[2016-04-07 03:20] #129 closed

[2016-04-07 14:18] mdasadul commented on #156
I am also getting same error as well

[2016-04-07 16:29] ilblackdragon commented on #164
We are actually working on this with TF folks (skflow repo got moved inside tensorflow) - stay tuned!

[2016-04-07 16:29] #164 closed

[2016-04-09 18:20] ilblackdragon commented on #156
Hi,

Sorry for slow response.

Can you try doing `print(six.next(X))` in `language_model.py` before `### Model` section? To just see what happen with data.
On Python2 seems to work, I'll double check on Python3.

[2016-04-09 19:16] ilblackdragon commented on #161
This is a problem with older version of Tensorflow.
Please try updating to Tensorflow 0.7+.
Also note that skflow will be bundled in next release of Tensorflow. (`tf.contrib.skflow`)

[2016-04-09 19:16] #161 closed

[2016-04-09 19:17] ilblackdragon commented on #162
Fixed in the http://github.com/tensorflow/tensorflow repo. Thanks! Should be available shortly in next Tensorflow release.

[2016-04-09 19:17] #162 closed

[2016-04-10 04:12] vinayakumarr commented on #161
Am using tensorflow 0.7.1 and skflow 0.1.0. Then also it is showing same error. Please have a look on the attached image
![untitled](https://cloud.githubusercontent.com/assets/18217467/14408036/8e12a046-ff00-11e5-81a9-f3e9a9b96eba.png)

[2016-04-14 14:06] stylianos-kampakis opened #166 "seq2seq example doesn't work"
The line

decoding, _, sampling_decoding, _ = skflow.ops.rnn_seq2seq(in_X, in_y,encoder_cell, decoder_cell=decoder_cell)

does not seem to follow the function's declaration:

def rnn_seq2seq(encoder_inputs, decoder_inputs, cell, dtype=tf.float32, scope=None):

[2016-04-15 07:46] eromoe opened #167 "IndexError: index 20860 is out of bounds for axis 0 with size 18805"
I alter https://github.com/tensorflow/skflow/blob/master/examples/text_classification.py for chinese sentances classification.
When `Total words: 43449`, I get
[code]
My `X.shape` is `(20895,)`  I don't konw what is the `18805`

Then I increase below parameters.
[code]
but 18805 still unchange.

[2016-04-15 07:51] #167 closed

[2016-04-15 12:43] DiegoGLagash opened #168 "TypeError inside skflow"
I'm running a sample from a tutorial, and I'm getting this error inside skflow:

Traceback (most recent call last):
  File "titanic.py", line 26, in <module>
    tflr.fit(X_train, y_train)
  File "/Users/diegog/Source/tensorflow/lib/python2.7/site-packages/skflow/estimators/base.py", line 227, in fit
    feed_params_fn=self._data_feeder.get_feed_params)
  File "/Users/diegog/Source/tensorflow/lib/

[2016-04-16 01:24] ilblackdragon commented on #168
Hi @DiegoGLagash skflow have moved inside tensorflow.
If you update your tensorflow to 0.8 you can use it via `tf.contrib.learn`. This issue is fixed there.

I'll also update this repo to use skflow from inside tensorflow.

[2016-04-16 01:24] #168 closed

[2016-04-16 01:29] ilblackdragon commented on #159
You should add an `input_fn` to RNNClassifier that would do `split_squeeze` on your inputs before giving them to RNN.
For more detail - see [this example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/skflow/text_classification_builtin_rnn_model.py#L52).

[2016-04-18 16:08] aroradeepak001 opened #170 "text_classification.py giving error"
I am just trying to run this example as it is, It is giving me following error :

 File "/usr/local/lib/python3.4/dist-packages/tensorflow/python/framework/ops.py", line 462, in __bool__
    raise TypeError("Using a `tf.Tensor` as a Python `bool` is not allowed. "
TypeError: Using a `tf.Tensor` as a Python `bool` is not allowed. Use `if t is not None:` instead of `if t:` to test if a tensor is def

[2016-04-18 16:25] ilblackdragon commented on #170
Hi @aroradeepak001,

Please use skflow from Tensorflow 0.8 - it got moved and already released there. All the issues as such one are fixed there. You can just install Tensorflow 0.8 and import skflow as `import tensorflow.contrib.learn as skflow`.

[2016-04-18 16:25] #170 closed

[2016-04-18 17:11] aroradeepak001 commented on #170
Hey
Thank you for such a quick response , Cheers!!

[2016-04-21 12:57] laouer opened #172 "skflow and tensorboard"
Hi,
I'm having issue to get the loss summary showing in tensorboard using skflow

this is my code
********************************************************************************************
classifier = skflow.TensorFlowEstimator(  model_fn=conv_model, n_classes=2,   batch_size=BATCH_SIZE,
                                          steps=100000,  learning_rate=0.001,

[2016-04-22 14:28] laouer commented on #172
Opened an issue in tensorflow  issues
https://github.com/tensorflow/tensorflow/issues/2063

[2016-04-22 14:28] #172 closed

[2016-04-24 10:15] waleedka commented on #133
I've struggled with the inefficiency mentioned here as well. My validation set is 25,000 records (30% of my data), and my mini-batch is 20. When I use the ValidationMonitor, I end up training on 20 records and then calculating the validation error on 25,000 records, which slows my training by a 100x or more.

Putting the monitor in a separate thread, as @ilblackdragon suggested, is interesting but

[2016-04-25 04:10] ilblackdragon commented on #52
Moved to tensorflow/tensorflow.

[2016-04-25 04:10] #52 closed

[2016-04-25 04:12] ilblackdragon commented on #64
@eldor4do For multi label classification - you can just pass a number of active classes to the model - e.g. y to be a matrix [examples, n_classes]. You just need to decide on your loss in the function, regular Estimators may not work very well as this point.

[2016-04-25 04:12] ilblackdragon commented on #64
Closing this issue as language model is in repository in limited capacity.

[2016-04-25 04:12] #64 closed

[2016-04-25 04:13] ilblackdragon commented on #93
Changing this, as it will be done a little bit differently - stay tuned in tensorflow/tensorflow.

[2016-04-25 04:13] #93 closed

[2016-04-25 04:14] ilblackdragon commented on #97
@terrytangyuan Can you move this FR tensorflow/tensorflow with may be updated details about existing libraries around TF and Spark?

[2016-04-25 04:15] ilblackdragon commented on #102
@terrytangyuan Move this to tensorflow/tensorflow?

[2016-04-25 04:15] ilblackdragon commented on #107
@terrytangyuan  Let's either move to tensorflow/tensorflow or close this one as well.

[2016-04-25 04:16] #107 closed

[2016-04-25 04:18] terrytangyuan commented on #102
This will probably be included in new monitor interface. Closing now.

[2016-04-25 04:18] #102 closed

[2016-04-25 04:25] terrytangyuan commented on #97
Closing now since someone submitted an issue at sparkit-learn repo.

[2016-04-25 04:25] #97 closed

[2016-04-26 11:50] marziehsaeidi commented on #10
Hi,  I am trying to run Text Classification examples but it seems datasets is not recognised under skflow:

module 'skflow' has no attribute 'datasets'

[2016-04-26 14:42] terrytangyuan commented on #10
You need to install the most recent release of TensorFlow and check the [examples](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/skflow) there. Please post issues to TensorFlow repo.

[2016-04-28 05:27] ilblackdragon commented on #166
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/ops/seq2seq_ops.py has the functions definition matching example:

[code]

[2016-04-28 05:27] #166 closed

[2016-04-28 05:30] ilblackdragon commented on #160
I'm going to add functionality for loading pre-trained embeddings.
Right now you can map your ids into embeddings before passing them into `est.fit`. I'll move this bug into tensorflow/tensorflow repository (where skflow has been moved).

About debugging that part - that's a bit hard part of working with Tensorflow - execution of graph building code is done later. I can recommend looking at tensor

[2016-04-28 05:32] #160 closed

[2016-04-28 05:32] ilblackdragon commented on #159
Closing this. If there is more questions - please use StackOverflow or tensorflow/tensorflow issues.

[2016-04-28 05:32] #159 closed

[2016-04-28 05:34] ilblackdragon commented on #155
Feel free to share script at https://github.com/tensorflow/tensorflow. Closing this issue (skflow has been moved inside TensorFlow).

[2016-04-28 05:34] #155 closed

[2016-04-28 05:36] ilblackdragon commented on #122
Here is suggested API: https://github.com/tensorflow/tensorflow/issues/2141 and will track this functionality there.

[2016-04-28 05:36] #122 closed

[2016-04-28 05:38] ilblackdragon commented on #133
I think the problem you observe can be fixed by adding validation over
batches instead of full set every time and moving average of the score.

On Sun, Apr 24, 2016 at 3:15 AM, Waleed <notifications@github.com> wrote:

--
Best regards,
Illia Polosukhin

[2016-04-28 17:33] rpagliarix opened #173 "Conditional RBM and distributed computing"
Are conditional RBM for recommender systems (for example) and support for distributed computing available or planned for the future?

[2016-04-28 18:25] mheilman commented on #142
Hi, it looks like this is still an issue in `tensorflow.contrib.learn`.  Shall I file an issue (or PR) there?

I think this could be addressed by changing [this line](https://github.com/tensorflow/tensorflow/blob/e8494eacfb552c4bf33c15657238aabecc2a6343/tensorflow/contrib/learn/python/learn/preprocessing/categorical_vocabulary.py#L36) to `self._mapping = {None: 0, unknown_token: 1}` (note: just ha

[2016-04-30 00:33] waleedka commented on #133
@ilblackdragon That's a good solution. I remember seeing a discussion about supporting more early stopping options, and what you mentioned seems like it belongs as part of that.

In the meantime, if someone needs an urgent fix, here is the the two lines I changed to fix the performance issue for me. It simply calculates the validation error once every print_steps rather than with every step.

http

[2016-05-02 16:49] ilblackdragon commented on #133
Let me add this actually to the master - I think it's an important fix.

On Fri, Apr 29, 2016 at 5:33 PM, Waleed <notifications@github.com> wrote:

--
Best regards,
Illia Polosukhin

[2016-05-04 03:09] tfolkman commented on #113
@davidBelanger were you thinking like something below? If so, do you see any error with my implementation?

I have 9 classes, and my labels look like this:

[0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1]

Meaning that this observation has class 0, 1, 3, and 8. They are in pairs - with the first value signifying not the class.

The training isn't really converging... Thanks!

[code]

[2016-05-05 08:46] sunilitggu opened #174 "can not run two tensorflow program one by one"
When I ran first time a program it executed fine, second time same program it gave this error.

I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:900] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
I tensorflow/core/common_runtime/gpu/gpu_init.cc:102] Found device 0 with properties:
name: GeForce GTX 980 Ti
m

[2016-05-13 06:12] akrai48 commented on #164
Any update on it ?

[2016-05-17 08:32] waleedka commented on #6
@ilblackdragon I've been searching for the multi-output sample you mentioned but I can't seem to find it. I checked the language modeling neural translation examples, but as far as I can tell, they're not using multi-output classification. I'm sure I'm missing something.

My understanding of multi-output classification is when you there are several outputs and each output can have multiple classes

[2016-05-18 06:32] wazzy commented on #6
For multi-output in RNN text classifier I am getting below error
`  File "build/bdist.linux-x86_64/egg/skflow/estimators/base.py", line 310, in predict
    return self._predict(X, axis=axis, batch_size=batch_size)
  File "build/bdist.linux-x86_64/egg/skflow/estimators/base.py", line 285, in _predict
    preds.append(predictions_for_batch.argmax(axis=axis))
ValueError: axis(=2) out of bounds`

[2016-05-22 20:47] zd123 commented on #10
Hey, if you dont want to re-install the nightly build, you can manually download the same dataset.  I've documented ez steps here:  http://stackoverflow.com/questions/37206459/tensorflow-examples-all-fail-due-to-attributeerror-module-object-has-no-attri

[2016-06-04 05:42] Arthiv23 commented on #150
Facing same issue. In my case it ran for several hours  ( 15 +  hours) but even first fit cycle did not complete.  Has anyone got this code working for translation?  If yes what is the translation accuracy.

[2016-06-05 03:51] xksteven commented on #113
Would this function

tf.nn.sigmoid_cross_entropy_with_logits()

Solve the problem?

[2016-06-05 23:23] ilblackdragon commented on #113
@tfolkman @eldor4do You can try using `tf.nn.sparse_softmax_cross_entropy_with_logits` for multi class.

For example of the usage see here - https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/estimators/dnn_linear_combined.py#L522

[2016-06-05 23:29] xksteven commented on #113
@ilblackdragon

The function you suggested wouldn't work for multilabel. It would work for multiclass which is a different problem.

Pretty sure tf.nn.sigmoid_cross_entropy_with_logits is what the original author is looking for.

[2016-06-05 23:37] ilblackdragon commented on #150
@Arthiv23  We are revamping examples so will try to fix if there are any issues. Sorry that it took so long - it took awhile to merge all the pieces into main TensorFlow and align with other libraries.

Let me know if you are debugging though and see some clear issues.
For example, did the loss went down while training or stayed at the same value? How many steps per hour did it make?

If nothing e

[2016-06-12 12:04] mhjabreel opened #176 "Exception in the Custom model example"
Hi,

I have tried running the custom model example and i got the following exception

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/contrib/learn/python/learn/estimators/base.py", line 160, in fit
    monitors=monitors)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/contrib/learn/python/learn/estimators

[2016-06-12 16:29] ilblackdragon commented on #176
Which example did you run? Please use examples from https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/skflow
Also if something doesn't work, please post in that repo (this repo is inactive at this point).

[2016-06-12 16:30] ilblackdragon commented on #176
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/skflow/iris_custom_model.py shows how to use new tf.contrib.layers for dnn with dropout.

[2016-06-12 16:30] #176 closed

[2016-06-12 16:31] ilblackdragon commented on #173
No direct plans to provide an Estimator with that.

But you probably can implement one using TF to work distributed.
If you do - feel free to send PR to http://github.com/tensorflow/tensorflow repository.

[2016-06-12 16:31] #173 closed

[2016-06-12 16:34] ilblackdragon commented on #158
This is actually possible to do now with FeatureColumns (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/feature_column.py#L34) Specifically see sparse_column_with_keys.

Let us know how it works (you can use tracker for https://github.com/tensorflow/tensorflow/).

[2016-06-12 16:34] #158 closed

[2016-06-14 21:01] rasmushaglund commented on #156
I'm getting the same error in both 0.8 and 0.9rc1. @ilblackdragon when running the above command before the model section it works fine, but then fails as usual.
I'm running Python 2.7

[2016-06-14 21:19] rasmushaglund commented on #156
I tried finding the source, and this is what I found: https://github.com/tensorflow/tensorflow/commit/30573c21e067ad7ec2bd74c062505d0506a36d57#commitcomment-17868872

[2016-06-30 11:40] kingkastle opened #178 "Scikitflow documentation update requested"
[Scikitflow readme.md](https://github.com/tensorflow/skflow) file needs to update its examples, for example, check this [StackOverflow question](http://stackoverflow.com/questions/38120008/anaconda-tensorflow-skflow-dnn-got-an-unexpected-keyword-argument-keep-p/38120728#38120728)

Thanks!

[2016-07-02 11:23] vinayakumarr opened #179 "getting none values not supported error"
python neural_translation.py

Traceback (most recent call last):
  File "neural_translation.py", line 121, in <module>
    translator.fit(x_iter, y_iter, logdir=PATH)
  File "/Library/Python/2.7/site-packages/tensorflow/contrib/learn/python/learn/estimators/base.py", line 227, in fit
    self._setup_training()
  File "/Library/Python/2.7/site-packages/tensorflow/contrib/learn/python/learn/estimato

[2016-07-02 15:04] ilblackdragon commented on #179
This seems like you have trainable variables without gradients. Can you
show your variables (print tf.all_variables) and probably gradients in
optimize_loss? Also you should try updating to 0.9 - there has been a lot
of issues addressed there.
On Sat, Jul 2, 2016 at 1:23 PM vinayakumarr <notifications@github.com>
wrote:

[2016-07-22 22:34] shriphani commented on #113
@xksteven in a couple of problems I'm working on, the target predictions are *very* sparse (maybe 2 out of 1000 labels set for a given X). RMSE over this particular loss function `tf.nn.sigmoid_cross_entropy_with_logits` is easily minimized by driving the prediction to 0. (when you predict all 0s for a vector of length 1000 with 2 items set, your error is super low anyway).

I have been solving th

[2016-07-24 19:25] terrytangyuan commented on #178
It's now hosted here: https://www.tensorflow.org/versions/master/api_docs/python/contrib.learn.html#learn-contrib

[2016-07-24 19:25] #178 closed

[2016-07-24 19:26] terrytangyuan commented on #179
There has been a lot of bug fixes since 0.8. Please try latest version. Please submit an issue to TensorFlow repo in the future instead.

[2016-07-24 19:26] #179 closed

[2016-07-24 19:26] terrytangyuan commented on #149
There has been a lot of bug fixes since 0.8. Please try latest version. Please submit an issue to TensorFlow repo in the future instead.

[2016-07-24 19:26] #149 closed

[2016-07-24 19:27] terrytangyuan commented on #139
There's L2 regularization layer you can use in custom model from tensorflow.contrib.layers.

[2016-07-24 19:27] #139 closed

[2016-07-24 19:29] terrytangyuan commented on #141
Please consider submitting a PR to TensorFlow repo to fix this or add additional example. Thanks!

[2016-07-24 19:29] #141 closed

[2016-07-24 19:37] terrytangyuan commented on #133
Feel like this is addressed in the latest version. Please submit an issue/PR to TensorFlow if it's not there. Thanks!

[2016-07-24 19:37] #133 closed

[2016-07-24 19:38] terrytangyuan commented on #174
Please submit an issue to TensorFlow instead. Thanks!

[2016-07-24 19:38] #174 closed

[2016-07-30 15:55] drcrook1 commented on #120
Is there a way to cmd line check the version of tensor flow or via python code?

[2016-07-30 16:44] terrytangyuan commented on #120
This kind of question is more suitable in stackoverflow. This repo is being removed soon. Please go to TensorFlow repo. Thanks.

[2016-08-06 17:31] vinayakumarr opened #180 "neural_translation.py showing error"
I was trying to execute neural_translation.py but it is generating the below error
![untitled](https://cloud.githubusercontent.com/assets/18217467/17458252/aa3385a2-5c29-11e6-8cd4-90113fca1e45.png)

[2016-08-09 00:18] unsalted commented on #180
same issue any luck figuring it out?

[2016-08-09 02:20] vinayakumarr commented on #180
No.

On Aug 9, 2016 5:48 AM, "Nick Meehan" <notifications@github.com> wrote:

[2016-08-09 02:21] vinayakumarr commented on #180
You can try to with tensorflow 0.7 and skflow 1 version

On Aug 9, 2016 7:50 AM, "Vinayakumar R" <vinayakumarr88@gmail.com> wrote:

[2016-08-28 12:51] kinddevil opened #181 "Exception when restore DNN model"
I am using skflow of tensorflow(0.10.0rc0), I create a TensorFlowDNNRegressor model and saved to local, when I try to restore it gives me exception:
`new_regressor = skflow.TensorFlowEstimator.restore('/Users/yichen.wei/Desktop/xiaoxiang_ml/model')
  File "/Users/yichen.wei/project/vscienv/lib/python3.5/site-packages/tensorflow/contrib/learn/python/learn/estimators/base.py", line 326, in restore

[2016-09-08 12:46] Syndrome777 commented on #113
@xksteven But, if we have 10000 output nodes? It's hard to compute all nodes, such as [1, 0, 0, 1, 0, 1, 0, 0....], the input labels is 0, 3, 5. So do you have any ideas?

[2016-09-08 16:12] shriphani commented on #113
@Syndrome777 this is normal. in word-level language-modeling, you predict a very high dimensional output and tensorflow handles it just fine.

[2016-09-09 03:11] Syndrome777 commented on #113
@shriphani No, I mean it's a multi-label task, not language model task. My task is that at every time stamp, the model will predict 10000 output nodes, and **this nodes are sparse**, such as Large Scale Image Classification Tasks, every image may have dog, cat, or any others, so the ground truth is  [1, 0, 0, 1, 0, 1, 1, 0, 0.......]. I don't know how to deal with this loss.

[2016-09-09 03:16] shriphani commented on #113
@Syndrome777 two approaches off the top of my head:

1. Set a uniform prior on all possible labels a given X can have. So if 5 entries in your 10000 dim vector are active, then you emit a distribution with all 0s and the 5 desired entries set to 0.2 . You can use the categorical cross-entropy loss then.

2. Treat it as 10000 binary classification problems. You can still use the categorical cross-e

[2016-09-09 13:24] eymar opened #182 "Tensor name "hiddenlayer_2/biases" not found in checkpoint files"
I have created my model on one machine and then sent the zipped folder 'model' by email to myself so I would be able to use this model on my second PC.

Here is the code how I'm recreating a model:
[code]

As I understood, to reuse a model I need to make 'fit' 1-3 steps. (This fact I found here in TF issues)

`classifier.fit(x_train, y_train, steps=3)`

Then when I call `predicted = classifier.pre

[2016-09-23 15:19] gm06041 opened #183 "checkpoint can't be restored..."
I made a sample like below
In the script, I saved checkpoint and then tried to restore checkpoint..
but error was occured.
I used tensorflow 0.10.0 with py 2.7 on Mac
I think learn.Estimator has some problem about restoring checkpoint..
When I use learn.DNNClassifier or learn.LinearClassifier, there was no problem..

ERROR:
**WARNING:tensorflow:Using default config.
WARNING:tensorflow:float64 is n

[2016-10-19 08:13] ankuj commented on #167
@eromoe could you please share what the problem was and how you solved it? I have a similar problem and am having trouble figuring out where to start. Much obliged !

[2016-10-19 10:38] eromoe commented on #167
It is not a issue, but  a stupid mistake as I remember.

20860 is out of bounds for axis 0 with size 18805.  As you see  two dataset, one 20860  and another 18805, mistake dataset cause this error

[2016-10-25 08:33] duweifu opened #185 "DNNClassifier init failed"
when I test the code in the tutorial,
classifier = skflow.DNNClassifier(hidden_units=[10, 20, 10], n_classes=3),
I got this TypeError:
 __init__() takes at least 3 arguments (3 given)

[2016-10-25 13:02] aloknayak29 commented on #142
Yes, This is still an issue. I want to know, Will someone change this code in future? Or They are happy with the current implementation of treating unknown tokens and padding  as same?

[2016-10-26 04:24] ilblackdragon commented on #185
Please file bugs at `tensorflow` repository - this one is inactive. Thanks!

[2016-10-26 04:24] #185 closed

[2016-10-26 04:26] ilblackdragon commented on #183
A simple fix would be to add `mode` to your model function and then `if mode == tf.contrib.learn.ModelKeys.INFER` to not use `target`.

This also probably fixed in new version of `tensorflow`. If not please re-file bugs at tensorflow repository - this one is inactive. Thanks!

[2016-10-26 04:26] #183 closed

[2016-10-26 04:26] ilblackdragon commented on #182
Please re-file bug at tensorflow repository - this one is inactive. Thanks!

[2016-10-26 04:26] #182 closed

[2016-10-26 04:26] ilblackdragon commented on #181
Please re-file bug at tensorflow repository - this one is inactive. Thanks!

[2016-10-26 04:26] #181 closed

[2016-10-26 04:27] ilblackdragon commented on #180
Please re-file bug at tensorflow repository - this one is inactive. Thanks!

[2016-10-26 04:27] #180 closed

[2016-10-26 04:27] ilblackdragon commented on #156
This may be fixed now with refactoring to use MonitoredSession.

If not, please re-file bug at tensorflow repository - this one is inactive. Thanks!

[2016-10-26 04:27] #156 closed

[2016-10-26 04:28] ilblackdragon commented on #150
Inactive, if still issues - please re-file bug at tensorflow repository - this one is inactive. Thanks!

[2016-10-26 04:28] #150 closed

[2016-10-26 04:28] ilblackdragon commented on #142
Sorry, this code was removed from Tensorflow in favor of processing with either tools in scikit-learn or future tools in Tensorflow.

[2016-10-26 04:28] #142 closed

[2016-10-26 04:29] ilblackdragon commented on #140
Processing code was removed from tensorflow in favor of future preprocessing tools and for now - scikit learn tools. Sorry!

[2016-10-26 04:29] #140 closed

[2016-10-26 04:29] #137 closed

[2016-10-26 04:30] ilblackdragon commented on #136
FeatureColumns are the way to do this now. Please use recent version for Tensorflow to do this.
Thanks!

[2016-10-26 04:30] #136 closed

[2016-10-26 04:30] ilblackdragon commented on #113
If this is still an issue - please re-file bug at tensorflow repository - this one is inactive. Thanks!

[2016-10-26 04:30] #113 closed

[2016-12-01 17:46] s2244521 commented on #113
I also want to train a multi label dataset but I don't know how to preprocess my dataset. How do I do that?

[2016-12-09 09:24] marinavab commented on #167
@ankuj Hey, were you able to figure out what  the problem was? Thanks!

[2016-12-11 03:13] jeffheaton commented on #6
Is there an example of how multi-class regression works in the current version.  After upgrading from 0.8 to 0.12 I am not sure how to support multi-regression.  Previously I just used a matrix shape for y:

import tensorflow.contrib.learn as skflow
from sklearn import metrics
import numpy as np
import pandas as pd
from IPython.display import display, HTML

FEATURE_SIZE = 10

x = np.array([range(F

[2016-12-11 03:38] terrytangyuan commented on #6
Please discuss this in StackOverflow since this is a usage question. This repo will be removed soon so you should ask question on TensorFlow's main repo. Thanks.

[2017-01-31 19:52] Deepak5j commented on #120
for windows (cmd)
C:\WINDOWS\system32>python

0.12.1

[2017-03-03 07:40] jonygli commented on #98
I have the same problem on `win7 x64`,

python version is `3.5`
tensorflow's version is `1.0.0`, and it is installed by  `pip install tensorflow-gpu`

and, it seems I can replace `tf.nn.rnn_cell` with `tf.contrib.rnn`...

[2017-03-11 13:57] jeffheaton commented on #10
I think some compile errors have been introduced to this example from all the TF changes

[2017-09-18 02:30] wenfeixiang1991 commented on #113
@xksteven I think you are right, but a little problem if I do this multi-labels classify using tensorflow, which is [issue](https://stackoverflow.com/questions/46090436/how-to-get-multi-label-output-after-using-tf-nn-sigmoid), do you have any idea for this? Thank you

[2017-10-28 06:42] shadiakiki1986 commented on #179
Possibly answered on StackOverflow [here](https://stackoverflow.com/a/45025025/4126114)

[2017-11-27 09:56] ravikrn commented on #113
@ilblackdragon @davidBelanger Even I am trying to do multilabel classification, do I need to train inception model from scratch OR can I use pre trained weights like transfer learning?

[2018-02-16 01:41] andlyu commented on #120
is there a way of checking whether it is gcp

[2018-03-07 15:35] MrMimic commented on #113
Hey guys, do someone successed to output multi-label ? I have 3800+ classes and I want to output sort of probability of one element to belongs to X classes.
I tried to change the softmax to sigmoid, and also the Loss function, but no way ..

[2018-03-19 14:39] s2244521 commented on #113
@MrMimic ,you can try this command tf.nn.sigmoid_cross_entropy_with_logits(
    _sentinel=None,
    labels=None,
    logits=None,
    name=None
)

[2018-03-26 18:51] DushyantaDhyani commented on #113
My question is not related to image classification but more towards the aggregation of losses returned by the softmax/sigmoid cross entropy functions.

The standard way of using the SoftmaxCE is as follows

`loss_op = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(
    logits=logits, labels=Y))`

On the other hand, all the tutorials/questions related to multi-label classification simply re

[2018-06-15 14:04] Vict0rSch commented on #113
@DushyantaDhyani I'm not sure but I'd go for the `mean(sum(...))` formulation (not `mean(mean(...))`).

My idea is that as we treat each logit dimension as an independent logistic regression, then we need to sum. I guess it depends on how we see the problem but the way I see it the whole model's performance is the sum of its per-class performance, it's not like each dimension was trying to accompl

[2018-07-10 22:28] nbro opened #186 "Why hasn't this repo been archived yet?"
New versions of TF have already been released since the last commit to this repo. As far as I've understood, after having read the README file of this project, you intended to close this repo. So, why hasn't it been done yet?

[2018-09-29 03:35] Huang-Jack opened #187 "Is this project still working?"

[2018-09-29 03:35] Huang-Jack commented on #187
now the tensorflow is 1.11.0 and seem skflow did not support it. Does have any update on it?

[2019-04-14 13:37] cclauss opened #188 ".travis.yml: The 'sudo' tag is now deprecated in Travis CI"
[Travis are now recommending removing the __sudo__ tag](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration).

"_If you currently specify __sudo: false__ in your __.travis.yml__, we recommend removing that configuration_"

[2019-04-18 03:53] psonthalia commented on #113
I'm trying to do the same thing and in the retrain.py I changed the following line:
`final_tensor = tf.nn.softmax(logits, name=final_tensor_name)` to
`final_tensor = tf.nn.sigmoid_cross_entropy_with_logits(logits=logits, labels=ground_truth_input, name=final_tensor_name)`
But I am getting an error saying that the shapes are different. Even if I try to create a new placeholder with the same shape,

[2019-05-22 14:10] ismael-elatifi commented on #113
Here is a simple code to demonstrate that the sigmoid version is the right one and not the softmax version :
[code]

[2020-01-26 05:28] ucalyptus commented on #188
Can anyone help me solve the CI errors. in #189

[2020-05-07 10:27] neuralminds commented on #10
thanks for these examples. just tried with Text Classification for character_rnn now how can i write a serving_input_fn for it ?
Thanks